[2015-07-27 07:40] ismay opened #1 "Failed to load the linter-stylelint package"
I was trying out your plugin, but it threw an error after I installed it: `cannot find module `atom-linter`. Here's my atom error report:

**Atom Version**: 1.0.2
**System**: Mac OS X 10.10.4
**Thrown From**: [linter-stylelint](git+https://github.com/1000ch/linter-stylelint) package, v0.2.3

### Stack Trace

Failed to load the linter-stylelint package

[code]

### Commands

[code]

### Config

[co

[2015-07-27 09:47] 1000ch commented on #1
@ismay Sorry, I fixed this problem and published as `0.2.4`. Please try this?

[2015-07-27 09:58] ismay commented on #1
This solved it, thanks!

[2015-07-27 10:02] 1000ch commented on #1
:+1:

[2015-07-27 10:02] #1 closed

[2015-07-27 10:18] ismay opened #2 "Doesn't lint some css files"
Not sure why, but linter-stylelint doesn't lint all css files. For example, it lints this file:

[code]

But it doesn't lint this file:

[code]

[2015-07-27 10:55] 1000ch commented on #2
@ismay Sorry, this is also my mistake. Please update again :crying_cat_face:

[2015-07-27 12:21] ismay commented on #2
Cool, that fixed it. :+1: Thx for the quick replies!

[2015-07-27 12:22] 1000ch commented on #2
:+1:

[2015-07-27 12:22] #2 closed

[2015-07-28 17:39] hd-deman opened #3 "join us"
You can transfer it to the AtomLinter org if you'd like. You'll still be the maintainer.
The sooner you do it, the less the statistics of downloads you will lose)
flow:

1. run `apm unpublish` command to unpublish package
2. move repo to AtomLInter org (you will be an administrator)
3. fix repo url in package.json
4. publish again

This allows us to more easily keep track of linters that need to b

[2015-07-29 00:35] 1000ch commented on #3
@hd-deman Thank you. Joined and transferred :+1:

[2015-07-29 00:35] #3 closed

[2015-08-18 13:02] ismay opened #4 "How to pass a config"
Is there a way to pass a config to stylelint? Maybe something like a `.stylelintrc` would be a good temporary solution, until the stylelint api's been finalized.

related: https://github.com/postcss/postcss/issues/477 & https://github.com/stylelint/stylelint/issues/288

[2015-08-18 13:06] 1000ch commented on #4
OK, I'll implement it as temporary solution.

[2015-08-18 13:12] ismay opened #5 "Underline spans entire screen"
Errors are underlined. But sometimes the underline goes across the entire screen:
![screen shot 2015-08-18 at 15 08 41](https://cloud.githubusercontent.com/assets/7355199/9330658/12870196-45bb-11e5-941d-09c3545a8ad0.png)

Instead of only underlining the rule (like eslint does):
![screen shot 2015-08-18 at 15 09 42](https://cloud.githubusercontent.com/assets/7355199/9330675/337dda64-45bb-11e5-8447-

[2015-08-19 07:57] ismay opened #6 "Does not show all warnings in the gutter"
Line 25 and 26 for example, don't have a yellow dot in the gutter (but they do have a warning).

![screen shot 2015-08-19 at 09 55 35](https://cloud.githubusercontent.com/assets/7355199/9351306/847dd0d4-4658-11e5-8106-741823acae5d.png)

[2015-08-20 02:34] 1000ch commented on #4
Priority order:

1. Load preset config if `usePreset` is checked.
2. Load `.stylelintrc` if exists.
3. Empty config.

[2015-08-20 02:34] 1000ch commented on #4
This issue is fixed at `v0.4.0`.

[2015-08-20 02:34] #4 closed

[2015-08-25 04:30] 1000ch commented on #6
@ismay Still getting error with newest version?

[2015-08-25 04:34] 1000ch commented on #5
@ismay Fixed with newest version.
If you got same problem, paste the CSS which causes this problem?

[2015-08-25 07:35] ismay commented on #5
This fixed it for me, thanks! It did cause some new unexpected behaviour, I'll open a different issue for that.

[2015-08-25 07:39] ismay commented on #6
This seems to be fixed now. All errors are correctly shown in the gutter.

[2015-08-25 07:43] ismay opened #7 "Inconsistent underline for import rules"
Not sure whether this is intentional, but it doesn't always underline rules that have an error (this is with stylelint-config-suitcss):

![screen shot 2015-08-25 at 09 31 04](https://cloud.githubusercontent.com/assets/7355199/9461165/7b3d304c-4b0c-11e5-9b31-4b9eff22e4a8.png)

[code]

![screen shot 2015-08-25 at 09 31 52](https://cloud.githubusercontent.com/assets/7355199/9461168/8190c29c-4b0c-11e5

[2015-08-25 08:06] 1000ch commented on #6
:+1:

[2015-08-25 08:06] #6 closed

[2015-08-25 08:06] 1000ch commented on #5
:+1:

[2015-08-25 08:06] #5 closed

[2015-09-08 23:29] tsbarnes commented on #1
I'm currently having this issue, on Ubuntu 15.04 using Atom 1.0.11.  I've got linter-stylelint 1.0.0 and linter 1.5.1.

[2015-09-09 08:14] petervansark commented on #1
I'm having the same issue on Ubuntu 14.04 with Atom 1.0.11. Using linter-stylelint 1.0.0 and linter 1.5.1.

[2015-09-09 11:50] 1000ch commented on #1
@tsbarnes @petervansark please reinstall `v1.0.2`?

[2015-09-09 14:26] tsbarnes commented on #1
The error is gone and the package is working after installing 1.0.2.

[2015-09-09 14:27] 1000ch commented on #1
:+1:

[2015-09-09 19:22] petervansark commented on #1
Works again! :+1:
Thanks!

[2015-09-10 19:45] JosefJezek opened #8 "<style> tag"
Please add support for `<style>` tag in html files. We need for Polymer Theme.

https://github.com/StartPolymer/polymer-starter-kit-plus

[2015-09-11 05:25] 1000ch commented on #7
@ismay Please update to newest `linter-stylelint` and tell me if having the same problem?

[2015-09-11 05:27] 1000ch commented on #8
I'll consider :)

[2015-09-11 07:41] ismay commented on #7
Seems to be fixed after updating :+1:

[2015-09-11 08:19] #7 closed

[2015-09-16 00:33] stela5 opened #10 "Rules setting in .stylelintrc ?"
I'd like to implement Rules settings as indicated on https://github.com/stylelint/stylelint -- something like:

[code]

I get an error when I put that in *.stylelintrc* -- *SyntaxError: Unexpected token*

Am I doing it wrong?

[2015-09-16 01:35] 1000ch commented on #10
@stela5 Oops, would you update `linter-stylelint` to newest?
And, you have to remove comments (`//`) in JSON file.

[2015-09-16 16:02] stela5 commented on #10
@1000ch I'm running version 1.0.5 with the following **.stylelintrc** file:

[code]

Those warnings still appear, though.  If I uncheck *Use preset* in the settings all syntax checking stops.  Thoughts?

[2015-09-18 18:17] stela5 commented on #10
Same behavior on v1.0.6 with this .stylelintrc file:

[code]

[2015-09-20 15:57] 1000ch commented on #10
Umm, it works. Does anyone have same behavior?

[2015-09-23 17:57] stela5 commented on #10
It could be machine-specific, but here are some screenshots in case they help:

http://s27.postimg.org/iu9rpwopf/image.png
http://s13.postimg.org/6d5n18rfr/image.png
http://s15.postimg.org/tl8ni4l6z/image.png

[2015-10-13 01:17] stela5 commented on #10
I think I'm getting closer.  I disabled *Use preset* on the config screen to activate the  `.stylelintrc` file:

[code]

And now it throws this stack error:

[code]

[2015-10-13 01:19] stela5 commented on #10
P.S. I also tried copying the JSON object from https://github.com/stylelint/stylelint-config-suitcss/blob/master/index.js into my `.stylelintrc` file but more stack errors were thrown because it doesn't look like that JSON structure is well-formed (trailing commas, etc.).  Thoughts?

[2015-10-13 04:46] stela5 commented on #10
Ref https://github.com/AtomLinter/linter-csslint/issues/37

[2015-10-13 04:48] 1000ch commented on #10
Thank you for debugging :+1: I will fix this in a few days...

[2015-10-13 04:55] stela5 commented on #10
Glad to help!  I really like this plugin and I think we're really close to having it work perfectly for my needs.  My biggest hurdle was figuring out that I had to define *all* my rules from scratch (both active and inactive) when disabling the preset.

P.S. The error sometimes references this issue post: https://github.com/atom-community/linter/issues/804

[2015-10-14 08:35] 1000ch commented on #10
@stela5

It may be error of linter core own.

[2015-10-14 08:38] 1000ch commented on #10
It works by checking *Use Preset* off and put `.stylelintrc` such as following.

[code]

And you? @stela5

[2015-10-14 16:25] stela5 commented on #10
Agreed, this must be a core linter issue: https://github.com/atom-community/linter/issues?utf8=%E2%9C%93&q=is%3Aissue+nan

It's strange because it only gets thrown with **at-rule-empty-line-before**.  If I use your *.stylelintrc* file above, everything works fine.  But if I use

[code]

on a barebones CSS file that doesn't even have an at-rule

[code]

I still throws an error.

[code]

[2015-10-14 16:50] Arcanemagus commented on #10
The Invalid Point (NaN, NaN) message is most likely this provider attempting to send a message to `linter` without a proper range specified. Possibly due to that rule's specific error message not having a line or column attribute?

Before you submit a bug to `linter` I would verify that the range is valid for that message.

[2015-10-14 17:19] stela5 commented on #10
@1000ch thoughts?

[2015-10-14 20:25] stela5 commented on #10
Yay, I finally figured it out.  I didn't realize that some eslint rules **require options**.

For example, https://github.com/stylelint/stylelint/blob/master/src/rules/at-rule-no-vendor-prefix/index.js#L16 is very forgiving and if you use `"at-rule-no-vendor-prefix": 2,` it works perfectly fine.  However, https://github.com/stylelint/stylelint/blob/master/src/rules/at-rule-empty-line-before/index.

[2015-10-15 15:20] MadLittleMods opened #12 "Invalid .stylelintrc JSON throws: "SyntaxError: Unexpected string""
When using a custom `.stylelintrc`(uncheck `Use Preset`) that has some JSON syntax errors, the following error is thrown which is not immediately clear what the error actually is. Adding a nicer message explaining what went wrong could help ease confusion.

`linter-stylelint@v1.0.7`

[code]

[2015-10-17 14:24] 1000ch commented on #10
@Arcanemagus OK, I'll make sure that which causes the problem.
@stela5 Thank you for debugging. It's OK if `.stylelintrc` is valid, isn't it?

[2015-10-19 13:59] ismay commented on #12
I'm getting this error as well. Don't know if it should fail silently, but it now shows the error on every save, which is a bit much.

[2015-10-19 14:28] 1000ch commented on #12
@MadLittleMods @ismay Thank you for reporting. Fixed in `v1.1.1`.

[2015-10-21 02:17] davidtheclark commented on #10
@stela5 : Yeah, *most* stylelint rules require both a severity and a primary option, so `rule-name: [ severity, primary ]`. Only the `*-no-*` rules do not require the primary option, because the "no" in the rule name already sets the expectation for you.

[2015-10-23 15:33] stela5 commented on #10
@1000ch Yes, everything is okay if `.stylelintrc` is valid.  Working as intended.

[2015-10-23 15:33] #10 closed

[2015-10-26 15:23] davidtheclark opened #15 "Distinguish warnings and errors"
Because stylelint uses two severity levels, 1 and 2, couldn't this plugin show a yellow warning for level 1 messages and a red error for level 2? Right now I'm only seeing yellow warnings.

[2015-10-28 20:24] MadLittleMods opened #16 "Allow comments in JSON"
Use the [`rc` package](https://www.npmjs.com/package/rc) which handles finding the config file and is lenient in allowing comments in JSON.

Currently, `linter-stylelint` is using [`JSON.parse`](https://github.com/AtomLinter/linter-stylelint/blob/6741535a14bccf7a8496ee226398c226ecadf90f/index.js#L39)

[2015-10-29 01:45] 1000ch commented on #16
:+1:

[2015-10-31 23:34] davidtheclark commented on #16
Would it be possible to just allow stylelint to find the config file itself? As of 2.0, it is using rc and should be able to find `.stylelintrc`. I think that here https://github.com/AtomLinter/linter-stylelint/blob/master/index.js#L81 you could just pass *no* config if a preset is not used, and then hopefully stylelint will take care of it.

[2015-11-01 00:46] davidtheclark commented on #16
Nevermind ... stylelint can't seem to find the config because of the fact that Atom runs the process in a different place than if you were running it yourself.

[2015-11-01 01:13] 1000ch commented on #16
Yes, AtomEditor working directory and workspace are different :astonished:

[2015-11-01 01:13] #12 closed

[2015-11-01 01:15] davidtheclark commented on #16
rc uses the module https://github.com/sindresorhus/strip-json-comments to strip json comments. You could use that to satisfy this issue.

[2015-11-02 18:44] Arcanemagus commented on #16
Marking this as closed per the above commit.

@1000ch for future reference try putting the text "Closes #16" or "Fixes #16" in the description instead of the title, it doesn't look like GitHub parses it from there properly.

[2015-11-02 18:44] #16 closed

[2015-11-04 03:29] davidtheclark commented on #15
This was taken care of in #18.

[2015-11-04 03:29] #15 closed

[2015-11-09 22:07] MadLittleMods opened #21 "Saving an empty file results in error"
When saving a new empty file(`.css`), it results in the following error:

Here is an image of the full-stack as those errors don't seem to copyable: https://i.imgur.com/Adp0q2s.png

[2015-11-11 03:34] #21 closed

[2015-11-11 03:34] 1000ch commented on #21
@MadLittleMods Thank you for reporting :+1:

[2015-11-13 14:17] ismay opened #23 "Error when opening an empty css file"
[code]

Happened when I opened an empty .css file, without a stylelint present in the project. Stylelint is @1.2.2 and I've not selected `use preset`.

Let me know if you need more information!

[2015-11-25 23:55] sambev opened #24 "Uncaught TypeError"
1. Open a css file.

**Atom Version**: 1.2.4
**System**: Mac OS X 10.11.1
**Thrown From**: [linter](https://github.com/atom-community/linter) package, v1.11.2

### Stack Trace

Uncaught TypeError: Invalid Point: (NaN, NaN)

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-28 03:20] Arcanemagus commented on #24
Do you have an example file to test trigger this? Or does it happen for you on _every_ file?

[2015-11-28 03:54] sambev commented on #24
I do use postcss syntax for most of my files but it will happen on any kind of css file

[2015-11-28 06:31] 1000ch commented on #23
Fixed in `v1.3.0`. Thank you for reporting!

[2015-11-28 06:31] #23 closed

[2015-11-28 06:34] Arcanemagus commented on #24
I'm not able to reproduce this, do you have a file that you can share that triggers this?

If not, when you run into this can you put a breakpoint in `linter-stylelint` right before it returns its messages and see if any of the ranges are invalid?

[2015-11-28 06:34] 1000ch commented on #24
@sambev Would you paste CSS example that reproduce this problem?

[2015-11-29 03:10] sambev commented on #24
@1000ch Sure.

[code]

@Arcanemagus I'll try to get into the error a bit more on Monday and post the results. Thanks!

[2015-11-29 22:16] ismay commented on #23
:+1:

[2015-11-30 16:38] sambev commented on #24
@Arcanemagus looks like my ranges are indeed invalid.
![screen shot 2015-11-30 at 9 36 18 am](https://cloud.githubusercontent.com/assets/2127504/11477571/d7a8d860-9745-11e5-9475-deee8140e4db.png)

The errors look to be errors with my stylelintrc e.g. I had `'long'` as a value for `color-hex-case`. I am working on fixing them (I can inspect the message objects before the exception).

[2015-11-30 16:41] sambev commented on #24
It looks like after I cleaned up the errors in my stylelintrc file, it's working great.

[2015-11-30 18:19] Arcanemagus commented on #24
Yea, that's what is done with other linters, we just create a dummy range encompassing the first line of the file.

[2015-12-02 21:03] MadLittleMods opened #26 "Cannot read property 'findFile' of undefined when opening or saving"
I get the following error when opening or saving a file:

[code]

[2015-12-02 21:04] Arcanemagus commented on #26
Which version are you on? I recently pushed out v1.3.2 which should fix this.

[2015-12-02 21:07] MadLittleMods commented on #26
I did update `v1.3.2` on Atom v1.2.4 but I must of not reopened the file for it to kick in. Everything seems to be good now after a restart.

[2015-12-02 21:07] #26 closed

[2015-12-02 21:09] Arcanemagus commented on #26
Yea sometimes Atom is a bit buggy with updates and will require a restart of Atom for them to take effect. Glad to hear that fixed it for you!

[2015-12-11 09:25] evilebottnawi opened #30 "bump stylelint version"

[2015-12-11 15:43] 1000ch commented on #30
@evilebottnawi Try `v1.4.0`?

[2015-12-11 15:43] #30 closed

[2015-12-13 18:45] keithamus opened #38 "Configuration via package.json"
Hey @1000ch! Thanks for making this project.

linter-stylelint tries to load configuration from a .stylelintrc file. Since v3 (see https://github.com/stylelint/stylelint/issues/490) this isn't the only way to load config files! We can now use the package.json `stylelint` directive to declare options within our package.jsons, just like eslint or browserify.

atom-linter-eslint currently has [code f

[2015-12-13 22:42] benfrain commented on #10
If I use my own config and place it in an .stylelintrc file in the project root:

[code]

Or if I use the one by @1000ch here: https://github.com/AtomLinter/linter-stylelint/issues/10#issuecomment-147974943

I get one of two things happening. If I uncheck the 'preset' then nothing happens. Despite errors I don't get stylelint doing its thing. If I leave it checked I get this blow up:

[code]
[code

[2015-12-14 04:44] 1000ch commented on #38
@keithamus I'll implement within today :)

[2015-12-14 09:40] keithamus commented on #38
:star::100:

[2015-12-14 12:07] 1000ch commented on #38
@keithamus Published as `v1.5.0`.

[2015-12-14 12:07] #38 closed

[2015-12-15 22:12] onlywei opened #48 "Plugin keeps enforcing "at-rule-empty-line-before" even though it is not defined in my config"
I just downloaded this linter plugin, and it is giving me warnings related to the `at-rule-empty-line-before` rule. This rule is no where in my `.stylelintrc`. Why am I getting these warnings?

[2015-12-15 22:43] Arcanemagus commented on #48
Does `stylelint` from the command line output the same thing?

[2015-12-15 22:53] onlywei commented on #48
I run `stylelint` through postcss. It does not output the same thing.

[2015-12-15 23:09] onlywei commented on #48
Ah, I see what the issue is. The "Use Preset" checkbox was on by default, and I couldn't find the settings button.

I think "Use Preset" should be changed to unchecked by default.

[2015-12-15 23:29] Arcanemagus commented on #48
I'd say there is a pretty good case for that since currently it is merging a project's supplied config with the chosen preset. What do you say @1000ch?

[2015-12-16 02:17] 1000ch commented on #48
I think It should be unchecked, too.

1. **Use Preset** should be unchecked as default.
2. If checked, it is supplied as base config. If project config also exist, preset will be merged into it.

[2015-12-16 02:31] #48 closed

[2015-12-16 02:59] 1000ch commented on #48
@onlywei Published as `v1.6.0`.
@Arcanemagus Thank you for fix. :+1:

[2015-12-18 10:59] benfrain opened #51 "Ability to use projects version of stylelint?"
Firstly, thanks for the plugin. Excellent :+1:

I'm presuming that this package uses it's own version of stylelint? I wonder if there would be an option to use a project's version?

We tend to use a 'locked down' version of stylelint. For example, we are currently running '2.3.6' and our config .stylelintrc runs against this version. If I try and use our .stylelintrc with this linter in Atom nothi

[2015-12-18 17:34] onlywei opened #52 ""Unknown word" errors"
While using this plugin, it seems like whenever a non-CSS legal piece of text is typed into my css files, I get Atom's big orange warning boxes in the upper right hand corner screen. For example, if the file had some git conflict markers, such as:

[code]

While typing and trying to resolve this conflict, I will get many many many many bright orange alerts saying:

*CSS Syntax Error*
Unknown word

[2015-12-18 17:58] Arcanemagus commented on #52
This could be changed to just a regular message highlighting that entire line, the original intent of the alert was that if the file isn't valid CSS then most of the checks `stylelint` does are disabled till it is fixed.

@1000ch you want me to do a PR for this or do you want to keep it as an alert?

[2015-12-20 15:08] 1000ch commented on #52
It's noisy, certainly. CSS error itself should not be reported?

[2015-12-21 02:30] Arcanemagus commented on #52
Oh it should definitely be reported, but instead of an Atom alert let's just do a regular linter error message?

[2015-12-21 02:46] 1000ch commented on #52
Yeah :+1:

I'll send a pull request later.

[2015-12-21 03:50] #52 closed

[2015-12-21 03:52] 1000ch commented on #52
@onlywei Try `v1.7.0`?

[2015-12-21 17:06] onlywei commented on #52
@1000ch thanks for the quick turnaround! I'll play around with it today and see how it goes.

[2015-12-30 16:53] satazor opened #54 "Linting only works the first time, then it doesn't lint"
I've just installed atom with linter and linter-stylelint, so I'm running the latest versions of stuff.

When I open a .css file, the linter highlights the error correctly but as soon as I fix some of them, the errors still persist. I guess the linting is only running once..

If I close the file and open it again, the errors that I fixed previously do not appear as expected.

Thoughts?

[2015-12-30 16:59] satazor commented on #54
Nvm, I was doing something really wrong that nobody should ever know :P

[2015-12-30 16:59] #54 closed

[2015-12-30 19:36] satazor opened #55 "Errors are shown always as warnings"
Despite of the output of `stylelint ./**/*.css --formatter json` showing error severity, it shows as warnings in atom.

![screenshot](https://i.imgur.com/8PTXp7e.png)

I've found the bug and I will submit a PR shortly.

[2015-12-30 19:53] #55 closed

[2015-12-30 20:46] satazor commented on #24
@Arcanemagus I was just by this issue.. I had errors in my stylelint that led to this. Do you accept a PR to mock line, column, etc?

[2015-12-30 20:57] Arcanemagus commented on #24
Of course :wink:

[2015-12-30 20:58] Arcanemagus commented on #51
This is of course possible, it just complicates how things are ran quite a bit. A PR implementing this would be nice!

[2015-12-30 21:01] Arcanemagus commented on #8
@JosefJezek This is actually a bit involved. You would need to have something strip out the CSS, feed it into `stylelint` and then somehow map the line/column numbers back to the source file.

[2015-12-31 01:32] satazor commented on #24
@Arcanemagus this is actually more complex than the original issue.

There is three kind of errors that might happen:

1 - Invalid syntax of .stylelintrc which cosmic config will detected (this is showing a error notification atm)
2 - Error thrown by stylelint when a fatal error exists, e.g. specifying "extends" pointing to an invalid package (this is being ignored atm)
3 - The actual error descri

[2016-01-01 18:35] satazor commented on #24
This issue can now be closed

[2016-01-01 18:37] #24 closed

[2016-01-01 18:41] satazor commented on #51
@Arcanemagus this issue applies not only to stylint but to others too. This would indeed be a good addition, in fact I think we should always prioritize local installations. One thing to be aware though is that if we ever support this we must support API changes of stylelint runtime itself.

[2016-01-01 19:17] benfrain commented on #51
The Sublime version of stylelint already works this way: https://github.com/kungfusheep/SublimeLinter-contrib-stylelint

That's why I was surprised the Atom one didn't.

[2016-01-01 19:19] satazor commented on #51
@benfrain Yes, must sublime linter providers use that philosophy which is good. We should indeed consider doing the same, but not only for stylelint but also for eslint, jshint, etc.

[2016-01-04 04:47] Arcanemagus commented on #51
@satazor `linter-eslint` already works in this manner, ideally all node based linters should work in this manner.

[2016-01-23 18:08] paulrobertlloyd opened #68 "Could not find "stylelint-config-standard". Do you need a `configBasedir`?"
Hello,

According to the docs, I can set up my linting rules in my package.json, and extend a default config, like so:

[code]

Yet when I do this, I get the following error:

*Could not find "stylelint-config-standard". Do you need a `configBasedir`?*

I tried using the same config, set via a .stylelintrc file, but got the same error. Am I doing something wrong? I’m using v1.10.2 of this package,

[2016-01-27 19:48] onlywei opened #71 "Invalid option value "float" for rule "rule-properties-order": should be an object"
I get this error on line 1 of every single one of my CSS files after upgrading to 1.10.2. Everything used to work fine before. Here's my `rule-properties-order` config in `.stylelintrc`:

[code]

[2016-01-27 22:32] Arcanemagus commented on #71
linter-styleint v1.10.0 updated the included `stylelint` to v4.0.0, are you perhaps seeing something that was changed in `stylelint` itself?

[2016-01-27 22:51] onlywei commented on #71
@Arcanemagus yes, you are correct. My version of `stylelint` that I want to use is `3.2.1` though. It's what I have installed in my `node_modules`.

[2016-01-27 23:26] Arcanemagus commented on #71
Unfortunately this plugin currently only uses the built in version of `stylelint`, a PR moving it to the model of linter-eslint or linter-coffeelint which can load a project's specific version would be great to see.

For now I would say you should probably run `apm install linter-stylelint@1.9.2`, which will bring you back down to `stylelint` v3.1.4.

[2016-01-29 22:38] SeanHayes commented on #68
Same here.

[2016-01-30 22:01] davidtheclark commented on #71
@onlywei Pretty sure that the problem you're seeing here was with stylelint itself (https://github.com/stylelint/stylelint/issues/665) and is now fixed, so I'd suggest closing this issue in linter-stylelint. Thanks!

[2016-01-30 22:03] davidtheclark commented on #68
If you have a problem happening with stylelint that you can reproduce outside of Atom editor and the linter-stylelint problem, please file an issue with stylelint instead of here: https://github.com/stylelint/stylelint/issues. If the problem only occurs when linter-stylelint is involved, then the issue is appropriate here.

[2016-01-30 22:04] davidtheclark opened #72 "Should ignore projects when no configuration is found"
Right now when I work on a project that doesn't use stylelint but does use CSS files, I get the warning `Unable to run stylelint. No rules found within configuration. Have you provided a "rules" property?`.

I would prefer if linter-stylelint didn't try to run unless it can find a stylelint configuration. What do you think?

[2016-01-30 22:27] SeanHayes commented on #68
Here's the issue I opened: https://github.com/stylelint/stylelint-config-standard/issues/4

[2016-01-30 22:41] davidtheclark commented on #68
Cool, thanks @SeanHayes.

[2016-01-30 22:47] paulrobertlloyd commented on #68
Okay, with this in mind, updated my config to point directly to the `stylelint-config-standard` module folder within the `linter-stylelint` package, like so:

[code]

But that’s not going to work across different machines. Should this package set the `configBasedir` value to the location of the package’s node_modules folder?

[2016-01-31 01:03] 1000ch commented on #71
@davidtheclark :+1:

[2016-01-31 01:03] #71 closed

[2016-01-31 16:59] paulrobertlloyd opened #73 "TypeError: Cannot assign to read only property '0' of [object String]"
Hello. I’m getting the following error when I use the `ignoreFiles` directive. Here is my config:

[code]

and here is the error generated:

[code]

Not sure if this is an AtomLinter issue or related directly to stylelint… I tried running stylelint directly from the CLI to see if I could reproduce, but got a number of different unrelated issues (partly it seems, because it was trying to lint text

[2016-02-01 21:42] Arcanemagus commented on #72
Does the "Disable when no config file is found" option not work for you?

[2016-02-01 21:43] davidtheclark commented on #72
@Arcanemagus: Apologies! I forgot about that option. I will double-check when I get back to the machine this happened for and probably close this issue.

[2016-02-01 21:45] Arcanemagus commented on #68
@paulrobertlloyd I think that this would be a duplicate of #51 if that's the case here. This is definitely something that should be moved towards as all the Node based linters _should_ be able to use the project based one (which would include getting the configuration from the project and not the plugin itself).

Is that the case here?

[2016-02-01 21:46] Arcanemagus commented on #72
Cool, let us know how it turns out :wink:.

[2016-02-01 23:48] paulrobertlloyd commented on #68
Hmmm, not really. I haven’t installed stylelint into my project, so I am relying on the version included within this plugin. The problem is (I think), that this plugin doesn’t appear to know where config presets are located. Does that make sense?

[2016-02-05 13:49] davidtheclark commented on #72
Works fine. My mistake.

[2016-02-05 13:49] #72 closed

[2016-02-05 20:14] danieldiekmeier opened #77 "Update Stylelint to 4.2.0 to fix "rule-properties-order" error"
See https://github.com/stylelint/stylelint/issues/665.

<img width="518" alt="screen shot 2016-02-05 at 21 14 41" src="https://cloud.githubusercontent.com/assets/2098462/12857976/7f365dd2-cc4d-11e5-89f4-461b13efc516.png">

This issue is fixed in 4.2.0, but still exists when using this plugin in Atom.

[2016-02-05 22:18] Arcanemagus commented on #77
Just an FYI: `npm update` in the package directory would have fixed this for you, as we are marked as compatible with `^4.1.0`, but forcing an update doesn't hurt anything so why not :wink:.

[2016-02-05 22:23] #77 closed

[2016-02-05 22:24] Arcanemagus commented on #77
Forced update pushed out in v1.10.4.

[2016-02-06 03:01] ntwb commented on #77
@Arcanemagus You are correct, though, within Atom Editor itself, the version of stylelint included with linter-stylelint would remain as `4.2.0` as the Atom Editor doesn't do a `npm update` internally.

Before updating to v1.10.4:
[code]

[2016-02-08 02:26] corysimmons opened #79 "Error: Column start (1268) greater than line length (25)"
![image](https://cloud.githubusercontent.com/assets/224636/12877393/a5513390-cde0-11e5-9c8e-74b893f36808.png)

Happens the second I remove a quote (happens all the time for other stuff too but this time I caught it).

[code]

[code]

Originally ran into this and opened an issue here: https://github.com/atom-community/linter/issues/1069

Then I went to stylelint to open an issue: https://github.com

[2016-02-08 04:01] corysimmons opened #80 "Doesn't refresh with config changes"
Seems to read the config one time when Atom is first loaded. As a result, any time I need to change something in my config I need to restart Atom completely. Kind of annoying when I'm making a config from scratch and need to restart Atom every minute for tons of rules.

[2016-02-08 04:30] corysimmons commented on #79
Another one just happened when I entered a newline.

![image](https://cloud.githubusercontent.com/assets/224636/12878431/c51492fa-cdf2-11e5-870e-d8237b10dec4.png)

[2016-02-08 04:36] corysimmons commented on #80
Actually, to be more specific about this problem, it only requires a restart when I have an invalid rule in there (like something set to `false`).

After I remove the invalid rule and save. I can close my stylesheet and reopen it and it still doesn't update. I still have to restart Atom completely.

Even so, it would be nice to not even have to reopen the file, much less the editor on _any_ change

[2016-02-08 13:29] davidtheclark commented on #79
@corysimmons Unless you can reproduce inaccurate positions *outside of Atom*, this is definitely an issue with linter-stylelint and should be address over in that repo. We have plenty of unit tests here validating that line/column positions point where they should.

@Arcanemagus I wonder if this is just a timing issue in the plugin, and adding a short delay somewhere would fix it?

[2016-02-08 17:03] corysimmons commented on #79
This happens when I load Foundation's config file with WordPress stylelint enabled:

![image](https://cloud.githubusercontent.com/assets/224636/12892833/f5b4fd32-ce5b-11e5-86c3-0467085ad793.png)

[2016-02-08 19:59] corysimmons opened #81 "Possible to add a parser option?"
I'm not sure if this is a stylelint problem or a linter-stylelint problem, but is it possible to add an option for something like Sass?

The problem comes because I'll frequently have a style with just a single mixin in it, and the `at-rule-empty-line-before` thing interprets the mixin as an @ rule.

![image](https://cloud.githubusercontent.com/assets/224636/12897269/703c19f6-ce74-11e5-882a-c44730

[2016-02-08 20:23] corysimmons opened #82 "hierarchicalSelectors not working"
From: https://github.com/stylelint/stylelint/issues/708

[code]

![image](https://cloud.githubusercontent.com/assets/224636/12878753/d5035d18-cdf7-11e5-885a-3caafa3a8694.png)

According to the maintainers I'm using this correctly, it's just not working in linter.

[2016-02-08 21:45] Arcanemagus commented on #82
Well, same question that @davidtheclark asked: Does `stylelint` show this as an issue when you run it outside of Atom?

[2016-02-08 21:50] Arcanemagus commented on #80
Hmmm, I wonder if this is a bug in `cosmicconfig`? This package doesn't really do any processing of the config file on its own.

Do you get an error shown in Atom saying "Unable to parse stylelint configuration"?

[2016-02-08 23:14] corysimmons commented on #80
No I don't. It just seems like it's still using the same old config until I restart Atom.

[2016-02-09 02:05] corysimmons commented on #82
![image](https://cloud.githubusercontent.com/assets/224636/12905667/1a82f9de-cea7-11e5-811a-c88be6405289.png)

I've literally spent several hours these past few days trying to file issues for this project.

To be honest, I'm done caring about it enough to run back and forth trying to track down where things are broken and file it in the right place, etc. etc.

stylelint doesn't work with Atom Lint

[2016-02-09 02:46] davidtheclark commented on #73
@paulrobertlloyd: From trying to run the stylelint CLI do you have any bugs that we could fix over in the stylelint repo? Your config looks fine to me.

@Arcanemagus Is there a chance the deep-assign library you're using doesn't handle arrays as expected? https://github.com/sindresorhus/deep-assign/issues/4

[2016-02-09 14:11] davidtheclark commented on #81
Duplicate of https://github.com/stylelint/stylelint/issues/713. It's an issue with stylelint, not this plugin, so can be closed.

[2016-02-09 14:18] davidtheclark commented on #80
It's not a bug with cosmiconfig or stylelint, it's just the way this plugin works, right? — loading the config upfront and not refreshing it. If you searched out the configuration file every time you ran the linter, or if you somehow watched the config file for changes and updated accordingly, you should get those updates.

I wonder how the eslint plugin does this? Because I think that config chan

[2016-02-09 14:19] davidtheclark commented on #82
This is an issue with stylelint: https://github.com/stylelint/stylelint/issues/712. So it can be closed here.

[2016-02-09 14:20] davidtheclark commented on #79
I suspect that this is a duplicate of #82 -- the same postcss-scss positioning problem.

[2016-02-09 15:41] #81 closed

[2016-02-09 15:42] corysimmons commented on #80
@davidtheclark I've actually migrated back to Sublime Text. Atom is amazing.. It's plugin system is amazing.. but no one can deny it's insanely slow. =[

[2016-02-09 15:43] #82 closed

[2016-02-09 15:44] corysimmons commented on #79
Not sure what it is. I've never ran into this error with CLI and I run into it every few minutes in Atom.

[2016-02-09 19:11] Arcanemagus commented on #79
@corysimmons This linter runs on the code as you are typing it, so it's far more likely to run into bizarre situations that the `stylelint` linter (or a dependency) doesn't handle properly. When you see something like this it would be helpful if you immediately save the file and try from the command line to verify whether the cause is this plugin or `stylelint` itself.

@davidtheclark the delay be

[2016-02-09 19:47] corysimmons commented on #79
Gotcha, will do in the future but I've already left Atom so I doubt I'll be back anytime soon.

[2016-02-09 20:17] Arcanemagus commented on #73
@davidtheclark @1000ch is the maintainer for this repo, I'm not entirely sure why it isn't just using `Object.assign()` as that is available in a packages direct code files (spawned threads and modules are another story).

@paulrobertlloyd Are you able to share the file you were seeing this on to reproduce this?

[2016-02-09 20:19] Arcanemagus commented on #68
Sorry, forgot to respond here: Yes that makes sense, but that is exactly what #51 would solve :wink:.

[2016-02-09 20:35] Arcanemagus commented on #80
@davidtheclark Actually it _is_ attempting to determine the config on every lint call ([here](https://github.com/AtomLinter/linter-stylelint/blob/v1.10.4/lib/index.js#L125)), which is why this makes no sense to me unless `cosmicconfig` is somehow caching the results.

`linter-eslint` also reconfigures everything on every lint call, but it does all this work in a separate worker thread so the time

[2016-02-09 21:14] corysimmons commented on #80
Nah, it seems like a big problem with Atom that will take months to years of talking to decide upon a course of action (yay GitHub) and probably a complete rewrite to solve. I should be able to run a few plugins side-by-side without my editor crawling.

Relevant to all these issues and your comment: I'm getting tired of wasting time trying to make broken tools work for me, and if there are alterna

[2016-02-09 21:39] davidtheclark commented on #80
@Arcanemagus: Neither stylelint nor cosmiconfig should be caching any results. Weird. At some point soonish I will try to look into it and see if I can find any clues as to why this isn't working as expected.

[2016-02-09 21:44] Arcanemagus commented on #80
@corysimmons I wasn't saying you shouldn't use what works for you, just suggesting ways to help mitigate the issues you were seeing if you were still interested in Atom. Also it sounds like from your comments you feel that the "AtomLinter" org is in some way related to GitHub or the official Atom repo, just wanted to clarify that this is a third party collection of tools...

@davidtheclark I've ne

[2016-02-09 21:52] Arcanemagus commented on #79
Looks like this is due to `stylelint` throwing a `CssSyntaxError` and `linter-stylelint` parsing that as output.

[2016-02-09 22:03] Arcanemagus commented on #79
Filed an issue over on the `stylelint` repo with a minimal test case, all yours @davidtheclark :wink:.

[2016-02-09 22:03] #79 closed

[2016-02-09 22:34] corysimmons commented on #80
No, I know AtomLinter is community. I was complaining that GitHub was too cheap to pay for a team of developers to do it right (be able to run 2 or 3 linters without Atom crawling).

[2016-02-10 04:07] davidtheclark commented on #80
@Arcanemagus: You're right -- I'm not able to reproduce (even when putting deliberate errors in the config as suggested). I'm trying on Mac. Tomorrow when I'm back at work I'll give it a shot on a Linux machine and possibly a Windows machine, too.

[2016-02-10 04:07] davidtheclark commented on #80
@Arcanemagus: You're right -- I'm not able to reproduce (even when putting deliberate errors in the config as suggested). I'm trying on Mac. Tomorrow when I'm back at work I'll give it a shot on a Linux machine and possibly a Windows machine, too.

[2016-02-10 04:13] davidtheclark commented on #73
@paulrobertlloyd I am unable to reproduce this inside or outside of Atom.

[2016-02-10 12:33] paulrobertlloyd commented on #73
Hmm, no longer getting this error as of linter-stylelint 1.10.4. However, files that are in my ignoreFiles directive are not being ignored. Will file a separate bug for this.

[2016-02-10 12:33] #73 closed

[2016-02-10 13:01] paulrobertlloyd opened #84 "ignoreFiles config value is ignored"
Given the config:

[code]

and folders/files such:

[code]

When editing _rouge.scss, linting errors are still reported. Running stylelint directly from the CLI however, the `ignoreFiles` value is respected.

[2016-02-10 15:12] davidtheclark commented on #80
I also cannot reproduce in Linux or Windows.

[2016-02-10 18:46] Arcanemagus commented on #84
This is due to us using the Node API's `lint()` call on the raw text (to support linting on the fly), instead of a file.

@davidtheclark is there anyway to specify the filename of a block of code so `stylelint` will check it against this, or should I file an issue about that over there? :stuck_out_tongue:

[2016-02-10 18:54] davidtheclark commented on #84
@Arcanemagus I hadn't run into this need before. May as well file an issue with stylelint. But I can't think of any use-case for this other than text editors figuring out whether to ignore the file??? Can anyone else?

I guess there could be a `from` option in the node API for specifying a source file name that should be attributed to the direct `code` input string, and if it's in the `ignoreFiles

[2016-02-10 18:58] Arcanemagus commented on #84
The problem with a file is linting on the fly, we would need to use a temporary file (the helper library makes this simple), I just don't know how involved other files are in the checking process. If linting a file _only_ involves that file, it would be relatively simple to have the helper library copy to a temporary directory and then run on that.

[2016-02-10 19:00] davidtheclark commented on #84
@Arcanemagus Interesting. Well, stylelint wouldn't need anything other than the file to run. We could look into that option at some point.

[2016-02-10 19:00] Arcanemagus commented on #84
As an FYI, several linters that provide a Node API, and are able to ignore files based on matching a pattern, support specifying the file name for code/stdin... but there are also a few that don't where it has had to be worked around in the provider here.

[2016-02-10 19:01] davidtheclark commented on #84
@Arcanemagus: Could you point me to some linters that do? I'd like to see what the conventions are.

[2016-02-10 19:02] Arcanemagus commented on #84
@1000ch Do you want to work on moving to the temporary file method?

@davidtheclark `eslint` is the first one that pops into mind: http://eslint.org/docs/developer-guide/nodejs-api

[2016-02-11 13:48] davidtheclark commented on #84
@Arcanemagus: This is a pretty easy addition to stylelint. I will get a PR up before breakfast.

[2016-02-14 02:40] Arcanemagus opened #90 "Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self'"."
This appears to be an issue with the `function-bind` dependency of the `tape` dependency of `stylelint`, I'm just not sure if this is an Atom issue, a `stylelint` issue, or a `function-bind` issue :confused:

[Enter steps to reproduce below:]

1. Install / Load `linter-stylelint`

**Atom Version**: 1.6.0-beta3
**System**: Microsoft Windows 10 Pro Insider Preview
**Thrown From**: [linter-stylelint]

[2016-02-14 03:00] Arcanemagus commented on #90
@davidtheclark The changes that broke this were introduced in `stylint@4.3.2` (4.3.0 and 4.3.1 were broken for other reasons already fixed there).

Is this an issue with the Atom environment, or your dependency? Do you want an issue filed over there?

[2016-02-14 03:00] steelbrain commented on #90
Looks like stylint is doing `eval` somewhere which is disallowed by Atom, either we can use Nath's `loophole` or execute it in a worker or child process

[2016-02-14 03:01] Arcanemagus commented on #90
@steelbrain The stack trace goes down to [this](https://github.com/Raynos/function-bind/blob/master/index.js), which is rather suspicious looking, and seems the equivalent of `eval()` to me.

[2016-02-14 03:01] steelbrain commented on #90
This is the `eval()` here https://github.com/Raynos/function-bind/blob/dd96c56720034a3c1ffee10b8a59a6f7c53e24ad/index.js#L38

[2016-02-14 03:03] steelbrain commented on #90
Here is the culprit line https://github.com/substack/tape/blob/87e4bec19bac80402011347f89b3647425d09c5e/lib/results.js#L8

[2016-02-14 03:05] davidtheclark commented on #90
Ugh. Maybe I will take extract stylelint's `ruleTester` again. It was pulled into the main repo in 4.3: that's why the tape dependency was introduced, which is why we have this mess.

[2016-02-14 03:08] steelbrain commented on #90
Opened this bug in tape https://github.com/substack/tape/issues/253

[2016-02-14 03:22] davidtheclark commented on #90
I have backed out of this change, so 4.3.3 should work just fine (no tape dependency).

[2016-02-14 03:33] Arcanemagus commented on #90
@davidtheclark thanks for the super fast response! I'll push out a new version in a few minutes depending on `^4.3.3` :wink:.

[2016-02-14 03:40] #90 closed

[2016-02-14 03:40] Arcanemagus commented on #90
v1.11.2 published depending on `stylelint@^4.3.3`.

[2016-02-14 08:39] steelbrain commented on #90
@davidtheclark @ljharb Just published a `function-bind` release that works on Atom, so you can use the `tape` dependency again!

[2016-02-20 17:55] 1000ch commented on #84
@paulrobertlloyd This may be resolved in `v1.13.0`. Thanks @davidtheclark :+1:

[2016-02-20 17:55] #84 closed

[2016-02-21 11:35] dikmax opened #101 "Postcss files lint"
Please check *.pcss and *.postcss too.

[2016-02-21 21:13] paulrobertlloyd commented on #84
Yup, it works. Fantastic, thank-you!

[2016-02-24 15:57] davidtheclark opened #104 "Fails when extending configs that extend other configs and include plugins"
Weird one here. It *does* work with the stylelint CLI, but seems to fail here.

configA:

[code]

build-lib/configB:

[code]

If I run this, I get the error `Cannot find module 'stylelint-selector-bem-pattern'`.

If I remove configB's `extends` (keeping the `plugins`), it works.

If I remove configB's `plugins` (keeping the `extends`), it works.

If I remove configB's `extends` and change configA

[2016-02-25 01:16] silvenon commented on #51
I was wondering why the CLI and linter-stylelint were reporting differently :+1:

[2016-02-28 13:49] silvenon opened #106 "Freezes Atom in certain cases"
[code]

If I erase the opening parenthesis, like this:

[code]

It freezes Atom and I have to force quit.

I'm on OS X and using latest linter-stylelint.

[2016-03-02 18:51] Arcanemagus commented on #106
I can't reproduce this using Atom v1.6.0-beta6 and linter-stylelint v1.13.1, were you able to @1000ch?

[2016-03-02 20:44] E-SHADOW opened #107 "Error: Column start (18) greater than line length (17)"
Hello :)
I need help please ..
![2016-03-02_22-40-10](https://cloud.githubusercontent.com/assets/15945528/13474799/4ccdd48a-e0c8-11e5-82d5-6207a9e19d9d.jpg)

And thank you :)

[2016-03-02 21:21] ntwb commented on #106
Also cannot reproduce.

[2016-03-02 22:34] Arcanemagus commented on #107
Are you able to share the file that triggered this?

[2016-03-02 22:39] E-SHADOW commented on #107
You mean the file in the path ?

[2016-03-02 23:30] Arcanemagus commented on #107
No, the file that you were editing that triggers this error.

[2016-03-03 00:59] 1000ch commented on #106
I also can't with newest linter-stylelint on Atom v1.5.4.

[2016-03-03 06:56] Arcanemagus commented on #106
@silvenon Are you still seeing this?

[2016-03-03 09:21] silvenon commented on #106
I'm sorry for not testing this through. This rule is causing the freeze:

[code]

The regular expression is supposed to be matching lowerCamelCase class names.

[2016-03-03 19:04] Arcanemagus commented on #106
Looks like that rule crashes `stylelint` itself, it _looks_ fine from what I can see, but is it possible that with how `stylelint` is executing that regex you are running into a cascading backtrace?

[2016-03-03 20:02] silvenon commented on #106
My CLI stylelint runs fine :confused: Yours crashes?

[2016-03-03 20:09] Arcanemagus commented on #106
Well, it tried to run for over a minute before I killed it...

[2016-03-03 20:15] Arcanemagus commented on #106
Just so we are for sure on the same page, with this folder:  [linter-stylelint_GH106.zip](https://github.com/AtomLinter/linter-stylelint/files/157621/linter-stylelint_GH106.zip)

Running `.\node_modules\.bin\stylelint .\test.css` locks up.

[2016-03-03 20:27] silvenon commented on #106
Oh, you're right, I forgot to remove the parenthesis. This is not an issue with the linter then.

What's a cascading backtrace?

[2016-03-03 20:27] #106 closed

[2016-03-03 20:31] Arcanemagus commented on #106
Sorry, looks like the right term is "Catastrophic Backtrace", and this explains it better than I ever could: http://www.regular-expressions.info/catastrophic.html

I'm not sure that is the reason, but _some_ part of that regex is forming a loop and running forever.

[2016-03-04 10:32] silvenon commented on #106
@Arcanemagus thanks for this great resource, that could be it :+1:

[2016-03-07 06:17] hkongm commented on #68
same problem

[2016-03-08 11:06] ntwb opened #112 "Pin to Eslint 2.2.0 until 'estraverse-fb' bug is fixed"
Until eslint/eslint#5476 is fixed, use ESLint v2.2.0.

The semver used in package.json is ^2.2.0 which causes ESLint v2.3.0 to be installed on clean installs.

[2016-03-08 11:07] ntwb opened #113 "Stop pinning ESLint to 2.2.0"
Once eslint/eslint#5476 is fixed.

See also #112

[2016-03-09 09:59] mech commented on #1
Somehow the linter refuse to load due to one-color's One-com/one-color#22, anyone encounter it also?

[code]

[2016-03-09 14:33] ilikescience commented on #1
@mech I also encountered this issue. Unsure of how to fix. Any help?

[2016-03-09 14:42] ilikescience opened #116 "'Unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self'""
Full error:
`Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self'".`

Stack Trace:
[code]

On Atom v1.5.4
Using linter-stylelint v1.13.1
Mac OSX 10.11.3

[2016-03-09 14:43] steelbrain commented on #116
See https://github.com/stylelint/stylelint/issues/891

[2016-03-09 17:30] Arcanemagus commented on #1
@mech see https://github.com/stylelint/stylelint/issues/891 for more details, I think I'm going to release a version that pins stylelint...

[2016-03-10 00:57] Arcanemagus commented on #113
Closing this, the open #108 serves the same purpose. Thanks for making sure this is noted though!

[2016-03-10 00:57] #113 closed

[2016-03-10 00:58] Arcanemagus commented on #112
Handled in #117.

[2016-03-10 00:58] #112 closed

[2016-03-10 00:58] Arcanemagus commented on #107
@E-SHADOW are you able to share that file? Without the file it's impossible to determine where this bug is triggered from and where it needs to be fixed.

[2016-03-10 01:10] mech commented on #1
@Arcanemagus Tks much for the heads-up!

[2016-03-10 04:31] Arcanemagus commented on #1
v1.14.0 published pinning the `stylelint` version, sorry it took so long!

[2016-03-10 05:26] mech commented on #1
Strange somehow I have this `Undefined rule "declaration-block-no-shorthand-property-overrides"`. I am using just this on my `.stylelintrc`:

[code]

[2016-03-10 05:33] ntwb commented on #1
@mech `declaration-block-no-shorthand-property-overrides` was added in stylelint 4.5.0

It replaced the deprecated `rule-no-shorthand-property-overrides` rule.

I'd say that `stylelint-config-standard` v4.0.0 is in `.atom/packages/linter-stylelint/node_modules`

[2016-03-10 05:39] Arcanemagus commented on #1
Yea, definitely looks like you manually installed that at some point and `apm` for some reason didn't install a compatible version when updating (not surprising with the other bugs it has with that...).

If you have Node.js installed simply run `npm install` in the package directory, or just uninstall and re-install  the package.

[2016-03-10 06:40] mech commented on #1
I have install a new Node using nvm, then delete my local project's `node_modules` and `npm install` again. I make sure my global do not have anything unusual installed. Then I uninstall and install the Atom linter-styelint again. I have the same result. I am using:

[code]

And linter-stylelint is at version 1.14.0.

@ntwb I look at the `.atom/packages/linter-stylelint/node_modules` and it says i

[2016-03-10 08:07] ntwb commented on #1
I'm pretty sure Atom will be picking up `"stylelint-config-standard": "^4.0.0"` from your project, you should change your project back to `"stylelint-config-standard": "^3.0.0"` until all of this is sorted out.

[2016-03-11 06:30] jaydenseric commented on #51
This is critical, I can't use this plugin with the current version of stylelint (`5.0.0`). A notification pops up with the error "Unable to run stylelint" due to undefined rules. Running stylelint via a NPM script is fine.

[2016-03-11 08:03] Arcanemagus commented on #51
@jaydenseric A PR for this would be welcome, in the meantime v5.0.0 is actually ready, just waiting on the configs to update (https://github.com/AtomLinter/linter-stylelint/pull/122).

[2016-03-11 17:57] Arcanemagus commented on #116
v2.0.0 has been published which updates `stylelint` to v5.0.0.

[2016-03-11 17:57] #116 closed

[2016-03-11 17:59] Arcanemagus commented on #51
@jaydenseric v2.0.0 is published which bundles `stylelint@5.0.0`, do note that the only config that currently works with this version of `stylelint` is `stylelint-config-standard` (at least of the 4 that were previously bundled).

[2016-03-11 18:03] Arcanemagus commented on #80
Marking this as closed as nobody has been able to reproduce this and the steps given do not show this issue.

If anyone sees this again please file a new issue and include any information you can on how to reproduce this.

[2016-03-11 18:03] #80 closed

[2016-03-11 18:04] Arcanemagus commented on #104
Attempting to reproduce this now.

[2016-03-11 21:54] paulrobertlloyd opened #125 "Unable to run stylelint: Undefined rules"
I’ve just upgraded to linter-stylelint 2.0.0, and now getting the following errors:

* `Undefined rule "declaration-block-no-shorthand-property-overrides"`
* `Undefined rule "declaration-block-trailing-semicolon"`
* `Undefined rule "string-no-newline"`

I’m extending `stylelint-config-standard`, which is at v4.0.1. What’s going on… trying to keep up with the changes across this package and styleli

[2016-03-11 21:56] Arcanemagus commented on #125
If you are seeing those messages then you haven't updated `stylelint-config-standard`. Are you absolutely sure you have the current version installed?

[2016-03-11 22:03] paulrobertlloyd commented on #125
I have nuked my node_modules folder and reinstalled. Yup, I’m using `stylelint-config-standard@4.0.1`

[2016-03-11 22:06] paulrobertlloyd commented on #125
Actually, that seemed to fix it! The remaining error was in my override.

[2016-03-11 22:06] #125 closed

[2016-03-11 22:10] Arcanemagus commented on #125
Thanks for reporting back :wink:.

[2016-03-12 03:58] ilikescience commented on #107
@Arcanemagus I'm getting the same error. It seems to pop up whenever I add the "*"s into the paths here:

[code]

Could be a problem where that `/*` is registering as the start of a comment?

[2016-03-12 07:10] Arcanemagus commented on #107
Ah ha, managed to trigger that when using SCSS syntax on that example, looking into this.

[2016-03-12 07:31] Arcanemagus commented on #107
@ilikescience your issue should be fixed once the changes in https://github.com/stylelint/stylelint/pull/909 are released. Leaving this open as @E-SHADOW reported this before that rule existed so they must be running into this from a different cause.

[2016-03-12 07:32] Arcanemagus commented on #104
Okay, looking into this for real this time :stuck_out_tongue:.

[2016-03-12 08:12] Arcanemagus commented on #104
Do you maybe have that package installed globally? I am seeing the same issue from the CLI.

[2016-03-12 09:04] Arcanemagus commented on #104
It looks like what is going on is that [this function](https://github.com/stylelint/stylelint/blob/5.0.0/src/buildConfig.js#L58) properly replaces the plugin name with the full path to the plugin, but in the process of merging everything together this gets dropped and the original value of just the plugin name is used instead. I _think_ that this is due to `configWithAbsolutePlugins` not being use

[2016-03-12 09:21] Arcanemagus commented on #104
Yep, looks like that fixes it, I'll put a PR up to `stylelint`.

[2016-03-12 10:06] Arcanemagus commented on #104
Marking as closed since this is a `stylelint` issue, PR is up there that fixes this :wink:.

[2016-03-12 10:06] #104 closed

[2016-03-12 10:09] Arcanemagus commented on #107
@ilikescience coincidentally `stylelint` pushed a patch release that fixed that, pushed out v2.0.1 of this plugin that integrates that.

[2016-03-12 10:14] Arcanemagus commented on #68
Okay, after working on a similar issue and with a greater understanding of how generating the config is done... this should be working.

@paulrobertlloyd and @hkongm can you provide an exact folder structure including where you have your configuration files, and what file you are linting when you see this issue?

[2016-03-12 15:43] ilikescience commented on #107
@Arcanemagus thanks!

[2016-03-13 20:03] paulrobertlloyd commented on #68
I am still getting the same error. You can see my folder structure here: https://github.com/paulrobertlloyd/paulrobertlloyd.com (my .stylelintrc config file appears in the project root). I get this error if I add `"extends": "stylelint-config-standard"` to my config file, or check ‘Use standard’ in linter-stylelint’s settings.

[2016-03-14 15:36] davidtheclark opened #128 "Add changelog"
I always appreciate a good changelog. When I see that the version bumped to 2.0 I would like to be able to come and quickly see what that means so I know whether I should upgrade or not.

[2016-03-14 16:29] Arcanemagus commented on #68
@paulrobertlloyd `extends` is an array key, not a single element. Also do you have something installing `stylelint-config-standard` into your project?

If I clone your repository as it currently is (https://github.com/paulrobertlloyd/paulrobertlloyd.com/commit/65e71abf392d15e841616d1f7adb3dc7f437e89f), `linter-stylelint` works just fine, although it will only show fatal errors unless the "Use pres

[2016-03-14 17:14] #128 closed

[2016-03-14 17:15] Arcanemagus commented on #128
Added a generated one, @1000ch if you want to do a better looking manual one (or find a better generator!) feel free :stuck_out_tongue:.

[2016-03-14 19:29] Arcanemagus opened #129 "Dispose of subscriptions"
Currently in `activate()` some settings are being observed, but those subscriptions are never being disposed of in a `deactivate()`.

[2016-03-14 23:14] #129 closed

[2016-03-15 02:05] 1000ch commented on #128
:ok_woman:

[2016-03-15 03:45] ntwb commented on #128
:+1:

[2016-03-15 05:48] ntwb opened #131 "Remove 3rd party stlyelint shared-configs from readme.md"
3rd party shared-configs were removed in #122

The [readme.md #config](https://github.com/AtomLinter/linter-stylelint/blob/master/readme.md#config) section should be updated,

[2016-03-15 06:12] #131 closed

[2016-03-16 21:21] ismay commented on #68
I've got the same error, but for `stylelint-selector-bem-pattern`:

<img width="491" alt="screen shot 2016-03-16 at 22 15 13" src="https://cloud.githubusercontent.com/assets/7355199/13829040/1d511732-ebc5-11e5-805a-b7b900f6a77f.png">

Code that resulted in this error can be found in this [branch](https://github.com/ismay/ismay.github.io/tree/lint-bem).
  * [.stylelintrc](https://github.com/ismay/i

[2016-03-16 21:36] Arcanemagus commented on #68
@ismay You must be on an older version of the plugin, the latest version bundles `stylelint@^5.0.1` which throws errors about the (now) undefined rules in your configuration.

[2016-03-16 21:39] ismay commented on #68
@Arcanemagus I am on 2.0.1, so that shouldn't be the problem. It can't be picking up the version from my `package.json` right? Because that's `"stylelint": "^4.4.0"`.

[2016-03-16 21:48] Arcanemagus commented on #68
@ismay If you are supposedly on v2.0.1 of `linter-stylelint` then Atom didn't install the dependencies correctly, since that has a [minimum version](https://github.com/AtomLinter/linter-stylelint/blob/v2.0.1/package.json#L38) of v5.0.1 for the bundled `stylelint`, and that version is incompatible with the rules you have specified in your `.stylelintrc` file. Specifically you are extending `styleli

[2016-03-16 21:50] Arcanemagus commented on #68
Ah, just saw that I was still on your `master` branch, I get the error you are seeing as well and will look into it (Without the `stylelint-selector-bem-pattern` though you would be hitting the `stylelint-config-suitcss` issues though...).

[2016-03-16 22:09] Arcanemagus commented on #68
@ismay Looks like your issue is fixed in https://github.com/stylelint/stylelint/pull/913, which hasn't been released yet.

[2016-03-16 22:16] Arcanemagus commented on #68
@hkongm Can you post the requested information?

[2016-03-16 22:31] ismay commented on #68
@Arcanemagus You're right. That's why I'm installing stylelint 4 locally (and opened this [issue](https://github.com/suitcss/stylelint-config-suitcss/issues/14)). But that won't fix the incompatibility of those rules with linter-stylelint of course. Didn't know that stylelint used its own version of stylelint at the time.

But anyway, my reported error should then be fixed when pr #913 is released

[2016-03-17 00:59] paulrobertlloyd commented on #68
I think regarding my original issue, this fixes everything for me. For projects where I don’t have stylelint installed (i.e. no node modules or package.json), I can check the ’use standard presets’ option in the package settings, and then everything will work as expected (whereas it didn’t before).

[2016-03-17 02:17] Arcanemagus commented on #68
@paulrobertlloyd I figured, and as @hkongm hasn't responded in 10 days I'm going to mark this as closed.

@hkongm if you are still experiencing this problem please file a _new_ issue with the information requested [here](https://github.com/AtomLinter/linter-stylelint/issues/68#issuecomment-195710196) and we can diagnose what your issue is.

[2016-03-17 02:17] #68 closed

[2016-03-17 12:07] smutnyleszek opened #133 "Bug with no-descending-specificity"
I would expect `[data-foo]:not(:last-child)` to be identified as more specific than `[data-foo]`. I get error:

[code]

[code]

[code]

I use `stylelint 5.0.1` with `linter-stylelint 2.0.1`. When running from CLI there is no error.

[2016-03-17 16:33] Arcanemagus commented on #133
When you are running from CLI are you running `stylelint@5.0.1`?

[2016-03-18 08:32] smutnyleszek commented on #133
I created [a minimum repo](https://github.com/smutnyleszek/stylelint-debug) when I can still see the issue. You will notice I have `.stylelintrc.json` in project root and one NPM script `npm run lint:styles`.

When I run `stylelint --version` I get `5.0.1`. I can't find a way to see what version is used when Atom is checking the rules.

[2016-03-18 11:04] ismay opened #134 "Update stylelint"
Will linter-stylelint automatically update to the latest version of `stylelint`? Because the most [recent release](https://github.com/stylelint/stylelint/releases/tag/5.1.0) contains a [fix](https://github.com/stylelint/stylelint/pull/913) for a [bug](https://github.com/AtomLinter/linter-stylelint/issues/68#issuecomment-197554109) that prevents me from using `stylelint-selector-bem-pattern` with `

[2016-03-18 16:19] Arcanemagus commented on #133
Btw, you can attach zip files directly now, which makes sharing configs like that simpler. Checking this out now.

[2016-03-18 21:30] ntwb commented on #134
No, it will not.

To get stylelint 5.1.x in Atom you'll need to uninstall the `linter-stylelint` package, restart Atom, then finally install the `linter-stylelint` package again.

_This is the downside of the Atom linters installing the linters themselves vs the Sublime Text way is that you should install the linter somewhere or globally yourself before adding the editor package._

[2016-03-18 21:56] Arcanemagus commented on #134
@ntwb It really depends on the linter as to how it's implemented... `linter-eslint` will use a local project's install first, the global option (if enabled) next, and finally if none others were found then the bundled version.

I'd like to move this to that model, which is what https://github.com/AtomLinter/linter-stylelint/issues/51 is about, but I haven't had time and as it's still there I'm ass

[2016-03-18 23:17] ntwb commented on #134
Right, thanks for the clarifications @Arcanemagus :+1:

[2016-03-18 23:22] ntwb commented on #51
I made a comment in #134 where I stated:

 My, bad, apologies, I also didn't know `linter-eslint` already worked in this manner, so it would be great to see `linter-stylelint` also work this same way :+1:

[2016-03-20 11:38] khakulov opened #135 "Add less support"
At the moment only css and scss file types are hardcoded. How difficult is to add add LESS support?

[2016-03-20 20:58] ismay commented on #134
@Arcanemagus Thanks for the feedback. #51 sounds like a good long term solution. In the meantime, I'll reinstall it. Thanks!

[2016-03-21 08:15] ntwb commented on #135
This is more a stylelint issue, once stylelint supports Less syntax then Atom's linter-stylelint can look to what would be needed to support Less, see https://github.com/stylelint/stylelint/issues/810

[2016-03-23 04:28] #134 closed

[2016-03-24 08:18] revyh opened #138 "no-duplicate-selectors bug"
Minimal setup to reproduce:

.stylelintrc.yml
[code]

blah.css
[code]

CLI output says that there is no error. I use `stylelint 5.1` and `linter-stylelint 2.0.1`.

Looks like text from editor is duplicated somehow when it's passed to stylelint. If that's true, it may explain #133.

Setup [blah.zip](https://github.com/AtomLinter/linter-stylelint/files/187444/blah.zip)

[2016-03-24 18:30] Arcanemagus commented on #138
That is just _bizarre_, looking into this now.

[2016-03-24 18:47] Arcanemagus commented on #138
@davidtheclark this looks like it might be a bug in `stylelint` itself, putting a breakpoint [here](https://github.com/AtomLinter/linter-stylelint/blob/v2.0.1/lib/index.js#L48) I'm seeing the correct options being passed into it:
![image](https://cloud.githubusercontent.com/assets/427137/14027675/18679c4a-f1b6-11e5-9f71-c3712a2b5e9b.png)

Seeing if I can isolate the issue further.

[2016-03-24 18:54] Arcanemagus commented on #138
@davidtheclark This is definitely something funky going on with `stylelint`, putting a breakpoint [here](https://github.com/stylelint/stylelint/blob/5.1.0/src/standalone.js#L113) shows the CSS is _not_ being duplicated internally, but it is still triggering this rule.

Want an issue filed over there?

[2016-03-24 20:05] davidtheclark commented on #138
Sure, thanks.

[2016-03-24 23:46] Arcanemagus commented on #138
Filed it there.

[2016-03-24 23:46] #138 closed

[2016-03-25 07:36] Arcanemagus commented on #107
Marking this as closed due to a lack of response from @E-SHADOW. If you are still seeing this please re-open this issue, or file a new one. Thanks!

[2016-03-25 07:36] #107 closed

[2016-03-25 07:40] Arcanemagus commented on #138
v2.1.0 published with a version of `stylelint` including this fix.

[2016-03-26 08:32] revyh commented on #133
@Arcanemagus I think this can be closed due https://github.com/stylelint/stylelint/issues/969

[2016-03-29 19:34] Arcanemagus commented on #133
Dealing with the update now, been a bit busy the last few days, sorry!

[2016-03-29 20:19] Arcanemagus commented on #133
v2.1.1 is pushed out including this version of `stylelint`.

[2016-04-04 23:03] blake-newman commented on #8
:+1: This would be a great feature for support of Vue

[2016-04-05 13:55] blake-newman commented on #8
Added the functionality to stylelint: https://github.com/stylelint/stylelint/pull/1019

Will apply the relevant code to consume this here.

[2016-04-06 09:38] ismay opened #143 "Column start (2) greater than line length (1) Error"
I'm getting the following error with linter-stylelint:

[code]

With this `.stylelintrc`:

[code]

For the following file (apologies for the large amount of text):

[code]

Might be related to this issue: https://github.com/AtomLinter/linter-eslint/issues/322?

[2016-04-06 17:39] Arcanemagus commented on #143
Not related, this is just a message that is returned from the common helper library when an invalid line/col is sent to it for generation of a range.

Looking into this now.

[2016-04-06 17:51] Arcanemagus commented on #143
Hmmmm, I can't reproduce that with this setup: [linter-stylelint_GH143.zip](https://github.com/AtomLinter/linter-stylelint/files/206984/linter-stylelint_GH143.zip)

Are you possibly not on the latest version of `linter-stylelint`? It looks like you've ran into issues [before](https://github.com/AtomLinter/linter-stylelint/issues/134) with `stylelint-selector-bem-pattern`.

[2016-04-06 17:51] Arcanemagus commented on #143
.....and all of the issue content just disappeared???

[2016-04-06 18:33] ismay commented on #143
@Arcanemagus Whoa, that's weird! I didn't edit it. I'm not at work now, so I can't reproduce the error, but I'll do so tomorrow.

As for the version, I've done a fresh install of all the packages (even of atom), but maybe atom reused old packages after the reinstall? I'll try reinstalling the plugin, will let you know if that helps.

[2016-04-06 18:36] Arcanemagus commented on #143
Even stranger, the audit log on the organization shows no record of the edit :confused:

Anyway, the zip file contains the state of the configuration before it disappeared...

[2016-04-07 17:36] Arcanemagus commented on #143
Looks like it was a bug with assigning the (ironically: `bug`) label: https://status.github.com/messages

Also apparently there is no audit log for the description, only comments.

[2016-04-07 21:58] ismay commented on #143
Ah ok 😋

[2016-04-08 09:14] adriantoine commented on #135
Less support has been added in the latest `stylelint` version, can we have it?
https://github.com/stylelint/stylelint/blob/master/CHANGELOG.md#530

[2016-04-09 05:47] Arcanemagus commented on #135
@adriantoine You're a tad late as this was released in [v2.2.0](https://github.com/AtomLinter/linter-stylelint/releases/tag/v2.2.0) of this package :wink:.

[2016-04-09 06:23] Arcanemagus commented on #143
Were you able to reproduce this @ismay?

[2016-04-09 09:26] ismay commented on #143
You mean after updating linter-stylelint right?

Yeah it did occur again periodically, not sure what's triggering it. I'll do some more isolated testing on monday while at work, which is where I'm running into this. Will report back with the results.

[2016-04-11 08:34] ismay commented on #143
After some testing I'm no longer able to reproduce it. I think we can close this, should I encounter it again I'll let you know.

[2016-04-11 13:18] khakulov commented on #135
@Arcanemagus less is still not supported. Plugins need some extra code.
Maybee here:
`grammarScopes: ['source.css', 'source.scss', 'source.css.scss'],`

[2016-04-11 14:22] ismay opened #147 "Opening css without a root stylelintrc keeps erroring on every keystroke"
In a project I'm working on I've got a `.stylelintrc` in the root of the project. I've also got a file opened that resides on my desktop (which does not have a root `.stylelintrc`).

An error notifying me of the missing rules for the file on my desktop keeps popping up on every keystroke, and I can't set them to ignore or anything. Also a stylelint-disable comment doesn't seem to help.

I guess th

[2016-04-11 17:45] Arcanemagus commented on #135
Ah, good point, and it [looks like](https://github.com/stylelint/stylelint/blob/5.4.0/docs/user-guide/css-processors.md#parsing-non-standard-syntax) we need to specify a "syntax" to `stylelint` as well.

[2016-04-11 17:55] Arcanemagus commented on #147
Hmmm, we ask `cosmicconfig` to see if it can find a configuration [here](https://github.com/AtomLinter/linter-stylelint/blob/v2.3.0/lib/index.js#L136-L141), then if it didn't find anything and the "Disable when no config" option is enabled it _should_ just return... so `cosmiconfig` must be finding a "configuration", but it's not one that `stylelint` knows how to understand. Can you possibly place

[2016-04-11 17:56] Arcanemagus commented on #143
Okay, if you see it again immediately save the file in that state, run `stylelint` on it from a CLI and see if you can spot the line that is off and report it, we can work out where the issue is from there.

[2016-04-11 17:56] #143 closed

[2016-04-12 01:00] ntwb commented on #135
Not something I've looked into, but presuming multiple syntaxes are supported or would be supported?

• CSS & SCSS
• CSS & Less
• CSS & SCSS & LESS

[2016-04-12 07:26] jeddy3 commented on #135
Yep. We added two additional choices to the [`syntax` option](https://github.com/stylelint/stylelint/blob/5.4.0/docs/user-guide/node-api.md#syntax) in `5.3.0`.

So, in total stylelint supports four syntaxes:

- Standard CSS syntax (with standard syntax extensions) *[the default option]* (files usually has the extensions `.css`, `.pcss` and `.postcss`)
- SCSS (files usually has the extension `.scss

[2016-04-12 17:34] Arcanemagus commented on #135
@jeddy3 Exactly, you can see where the SCSS syntax is being defined [here](https://github.com/AtomLinter/linter-stylelint/blob/v2.3.0/lib/index.js#L129-L134).

Also if PostCSS is handled by the default parser in `stylelint`, then fixing #101 should be as simple as figuring out the scopes for those files and adding them to the list of supported scopes.

[2016-04-12 18:48] jeddy3 commented on #135
I saw that :) I wasn't sure what "scopes" were though. I did try looking it up so I could send you a PR, but I got a little lost I'm afraid.

[2016-04-14 18:40] juwain commented on #101
+1
Is there a workaround for now to check .pcss files from Atom?

[2016-04-14 19:02] Arcanemagus commented on #101
When you run `Editor: Log Cursor Scope` from the command palette when you have a PostCSS file open what does it list?

[2016-04-15 06:38] juwain commented on #101
Scopes at Cursor
- source.css.postcss
- meta.property-list.postcss
- meta.property-value.postcss
- punctuation.terminator.rule.postcss

[2016-04-15 06:43] juwain commented on #101
Ok, I've just added `source.css.postcss` to grammarScopes array and it works!

[2016-04-15 06:44] juwain commented on #101
If it is the only thing I can create a PR 😀

[2016-04-15 07:00] Arcanemagus commented on #101
As PostCSS apparently doesn't require specifying a different syntax to `stylelint` that should be all that is needed. I can review a PR and get it merged in the morning :wink:.

[2016-04-15 08:11] juwain commented on #101
Ok, it's morning in my timezone now =) Thanks, good night!
https://github.com/AtomLinter/linter-stylelint/pull/149

[2016-04-16 12:29] The-Penultimate-Defenestrator opened #151 "Everything is an error"
Many other Atom-Linter packages make the distinctions between errors (in red), and warnings (in yellow), the former being critical errors and the latter being stylistic or minor things that won't affect the function of the code.

Is there a reason why `linter-stylelint` makes every issue an error? Is it simply that `stylelint` only returns one kind of message?

[2016-04-16 14:20] jeddy3 commented on #151
Perhaps I can help. I'm not the maintainer of `linter-stylelint`, but I'm a contributor on `stylelint`.

You can use the [`severity` secondary option](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#severities-error--warning) within your stylelint [configuration object](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#the-confi

[2016-04-16 14:52] The-Penultimate-Defenestrator commented on #151
Thanks. It seems kind of strange that the default behavior is to have everything with an "error" level severity, but that solves the issue.

[2016-04-16 14:52] #151 closed

[2016-04-16 20:36] Arcanemagus commented on #151
This was hinted at throughout the issues filed, but just to explicitly state it: `linter-stylelint` simply forwards on the severity that `stylelint` gives us :wink:.

[2016-04-16 20:37] The-Penultimate-Defenestrator commented on #151
Thanks. I've been discussing in other issues, I got that, but thanks for
clarifying 😉

On Sat, Apr 16, 2016 at 4:36 PM Landon Abney <notifications@github.com>
wrote:

[2016-04-18 09:42] MattDiMu commented on #79
I'm experiencing the same issue with about 70% of my .scss-files, so I'm basically unable to use this (actually great) plugin. Using Win7 with the latest packages of Atom@1.7.1, linter@1.11.4, linter-stylelint@2.3.0.

One example-file, causing this error:
[code]
with the following scss-file:
[code]

and the following config:
[code]

When running in the command line, it actually works:
[code]

[2016-04-18 10:06] ismay commented on #147
@Arcanemagus Ok, result is `null` at that position:

![untitled-2](https://cloud.githubusercontent.com/assets/7355199/14600623/ee1ccb16-055d-11e6-9c33-16363bf2a522.jpg)

[2016-04-18 17:43] Arcanemagus commented on #79
@MattDiMu As this error is generally a rather unique situation can you please file a new issue so we can discuss this further?

[2016-04-18 17:51] MattDiMu opened #155 "Column start (n+1) greater than line length(n)"
As reported in #79:

I'm experiencing the same issue with about 70% of my .scss-files, so I'm basically unable to use this (actually great) plugin. Using Win7 with the latest packages of Atom@1.7.1, linter@1.11.4, linter-stylelint@2.3.0.

One example-file, causing this error:
[code]
with the following scss-file:
[code]

and the following config:
[code]

When running in the command line, it actuall

[2016-04-18 17:53] Arcanemagus commented on #155
I was just about to comment that I was unable to reproduce this until your `CRLF` comment, looking into this.

[2016-04-18 17:58] Arcanemagus commented on #155
With the file saved as `CRLF` line endings I'm seeing exactly what you are seeing in the CLI... which is actually wrong. It's claiming that on line 2 there is an issue on character 3... when that line doesn't have that many characters.

If the file is saved as `LF` the issue doesn't show. (One could argue that the character 2 is a bug as well, since that's _technically_ the very end of the line, b

[2016-04-18 17:58] #155 closed

[2016-04-18 18:04] Arcanemagus commented on #147
Sorry, I misunderstood the setup when I first read this issue.

Basically `cosmicconfig` is properly finding no configuration for the file on your desktop, but it seems that you both have the "Use standard" option disabled (which would lint it with the default `stylelint-config-standard` settings) **_and_** you _don't_ have the "Disable when no config file is found" option enabled (which would cau

[2016-04-18 18:04] #147 closed

[2016-04-18 18:28] MattDiMu commented on #155
Thx a lot for your rapid response and help. Meanwhile I've tried converting my files to LF and back to CRLF and I can confirm, that the issue seems to appear only with CRLF.

[2016-04-18 18:52] ismay commented on #147
Ah ok, yeah that makes sense. But out of curiosity, why does the 'disable when no config is found' exist? Shouldn't that just be the default?

Because the errors it generates when there isn't a config are pretty intense (especially as they're generated on every keystroke). Is there a usecase for these errors?

Anyway, thanks for helping, apologies for the unnecessary bug report!

[2016-04-18 19:10] Arcanemagus commented on #147
I think the reason I'd say it should be left in is for people that do not want to use the bundled `stylelint-config-standard`, but expect there to be a valid configuration for all the files they edit _and_ would like to be notified when a configuration can't be found.

We should probably think about a throttle on that notification though...

[2016-04-18 19:39] onedesert commented on #135
I've add a PR to add LESS support. https://github.com/AtomLinter/linter-stylelint/pull/156

[2016-04-18 20:55] MattDiMu opened #157 "Triple Slash Comments combined with ' cause problems"
Triple slash comments (e.g. necessary for https://github.com/SassDoc/sassdoc documentation) combined with ' cause the linter to abort. 2 or 4 comments are no problem:

[code]

[code]

Btw, I'm having this issue on my Mac with LF as well as on my Win7 with CRLF, so it's probably a different issue than #155.

[2016-04-18 21:04] Arcanemagus commented on #157
Are you sure that `stylelint` supports SASS files? They aren't listed in their [Features](https://github.com/stylelint/stylelint#features).

[2016-04-18 21:05] Arcanemagus commented on #157
And assuming that it does, do you see the mistaken columns when running from the CLI?

[2016-04-18 21:07] #135 closed

[2016-04-18 21:42] MattDiMu commented on #157
I was referring to Sass-Files with SCSS-Syntax (.scss), which is listed as feature explicitly. From the terminal with 2 or 4 Slashes, i get an empty result (no errors), when having 3 I get the following result:

[code]

[2016-04-18 22:05] Arcanemagus commented on #157
That 22 (1-indexed) translates perfectly to the 21 (0-indexed) in the warning, I'm guessing that line 1 has 22 characters in it? This looks like another issue that needs to be reported over on `stylelint` (but it _is_ different from what you are seeing in #155 as you surmised).

[2016-04-18 22:27] #101 closed

[2016-04-18 22:40] Arcanemagus commented on #101
Published in v2.4.0 :tada:.

[2016-04-20 20:04] smlombardi opened #166 "Error: Column start (15) greater than line length (13)"
The very first time I tried to use this:
[code]

I had to disable it.

[2016-04-20 20:21] Arcanemagus commented on #166
Can you please share your `stylelint` configuration, as well as the file you were editing (in a state that triggers that warning!).

This is almost certainly a bug in `stylelint` itself, so tracking this down will help everyone :wink:.

[2016-04-20 21:44] davidtheclark commented on #166
@smlombardi Are you on Windows? There is a known Windows bug in some rules that might cause this: https://github.com/stylelint/stylelint/issues/1081. We are trying to address it. Figuring out which rules cause the problem will speed up the fix. Thank.s

[2016-04-20 21:46] Arcanemagus commented on #166
@davidtheclark The paths in the stack trace are from OSX I believe, but they might still be editing a `CRLF` file.

[2016-04-20 21:46] davidtheclark commented on #166
True.

[2016-04-20 22:06] smlombardi commented on #166
On OSX.  File uses Unix LF.  I don't have a stylelint config yet, I set the package to use Standard for starters.  I will try and get the exact file I tested on.

[2016-04-20 22:11] smlombardi commented on #166
I don't know if this is related, but I installed it on my other MBP and when I open a scss file and try to force an error by deleting a semicolon I get this

![screen shot 2016-04-20 at 6 09 56 pm](https://cloud.githubusercontent.com/assets/835148/14692134/3e18f420-0723-11e6-830f-131aa4ca664e.png)

[2016-04-20 22:17] davidtheclark commented on #166
Huh ... I just installed the latest `linter-stylelint` version, use stylelint-config-standard in my own config, and don't have the same Atom problems. Please double-check which versions of each part you are using.

[2016-04-20 22:23] Arcanemagus commented on #166
@smlombardi Without the files that are triggering these errors it's rather difficult to diagnose this. Whenever you see an error pop up can you save the file in that state and then attach it here?

If the files are unable to be shared publicly you can direct message them to me on [Atom's Slack](http://atom-slack.herokuapp.com/).

[2016-04-20 22:30] smlombardi commented on #166
The file above is http://cl.ly/00450N331f24/_leftMenu.scss

This is Atom 1.8b2.  Here's the sequence:

![apr-20-2016 18-24-40](https://cloud.githubusercontent.com/assets/835148/14692560/ff69411e-0725-11e6-8939-04536c93a83b.gif)

[2016-04-20 22:56] Arcanemagus commented on #166
Looks like that later one is a bug in `stylelint`:
![image](https://cloud.githubusercontent.com/assets/427137/14693000/2128edce-0710-11e6-901e-11a13e9ed537.png)

Can you report that on [their issue tracker](https://github.com/stylelint/stylelint/issues) to get that tracked down further? Here is a file that contains a reproduceable environment: [linter-stylelint_GH166.zip](https://github.com/AtomLi

[2016-04-21 02:39] davidtheclark commented on #166
@smlombardi I think the "Unexpected space" issue is being caused by a dependency of stylelint stumbling on the nested selectors. I'll try to see what can be done.

[2016-04-21 02:46] davidtheclark commented on #166
Actually, on looking closer, I'd suggest that this "Unexpected space" thing might not be a bug at all. I believe that without that semicolon you're providing is invalid, unparseable syntax, so it's going to error.

[2016-04-21 08:56] MattDiMu commented on #157
@Arcanemagus Yes, line 1 has 20 chars in it and yes, it's caused by the quote character (but only if combined with exactly 3 slashes).

[2016-04-21 12:30] smlombardi commented on #166
Well, isn't a missing semicolon a common programmer error?  scss-lint handles it, reports the error without an error dialog.  For that reason I frequently use deleting a semicolon as a quick way to test that a linter is properly installed on my part.

[2016-04-21 12:33] smlombardi commented on #166
http://cl.ly/1X2R2Q1C0p36/documentation.scss  is a file that gives the error originally reported (at least on my work MBP).  I deleted the semicolon at the end of line 27.  stylelint and scss-lint report the error in the status bar correctly.  I put the semicolon **back** and I get

[code]

[2016-04-21 16:42] Arcanemagus commented on #157
For reference, this was filed by @MattDiMu overe here: https://github.com/stylelint/stylelint/issues/1097

[2016-04-21 16:42] #157 closed

[2016-04-21 17:19] Arcanemagus commented on #166
Marking this as closed since both bugs are in `stylelint` and have been reported there.

[2016-04-21 17:19] #166 closed

[2016-04-22 13:11] smlombardi commented on #166
If this is fixed in stylelint 6.0.3, when does it get pulled into the Atom linter?

[2016-04-22 16:27] Arcanemagus commented on #166
It's fixed in v6.1.0, which I'm just about to merge here :wink:.

[2016-04-22 16:34] Arcanemagus commented on #166
FYI, the changelog lists when new versions of `stylelint` are included here.

[2016-04-22 17:58] Arcanemagus commented on #166
@smlombardi I've just released v2.6.0 of this package which includes `stylelint` v6.1.0. This should fix that issue for you :wink:.

[2016-04-22 18:20] smlombardi commented on #166
Outstanding!

[2016-04-25 14:18] PhiLhoSoft commented on #166
Windows 7, Atom 1.7.2, atom-stylelint 2.6.0 (I uninstalled it and re-installed it just in case the upgrade went bad).
I still see the issue.

This one appeared right after I installed (back) the package and went to a .scss file.

Actually, I could pinpoint what triggers it.
It appears as soon as I put a line comment in a .scss file, after a selector.
Line comments are harmless after variable decla

[2016-04-25 18:41] smlombardi commented on #166
This still happens while editing a scss file...

![screen shot 2016-04-25 at 2 31 32 pm](https://cloud.githubusercontent.com/assets/835148/14794844/cb20a98e-0af3-11e6-8a30-25ac593006a4.jpg)

[2016-04-25 19:05] Arcanemagus commented on #166
@smlombardi Does `stylelint@6.2.0` report the same thing?

@PhiLhoSoft as each of these errors can be caused by any number of things can you please file a new issue so we can track down your specific case of why `stylelint` is sending bad column data to `linter-stylelint`?

[2016-04-26 11:11] PhiLhoSoft commented on #166
OK, no problem.
Even though my report is more related to the original issue that the latest reported by @smlombardi... :smile:

For the record, I also saw these space errors, while typing a new rule (with 6.2.0), but was not able to reproduce it.

[2016-04-26 11:25] PhiLhoSoft opened #176 "Error: Column start (20) greater than line length (1)"
Yes, it is an error similar to the one reported in #166 where I initially posted.
As asked, I create a new issue... :smile:

First, the file with a small file reproducing the problem, and the config.
[Stylelint-issue.zip](https://github.com/AtomLinter/linter-stylelint/files/236460/Stylelint-issue.zip)

I originally wrote:

Windows 7, Atom 1.7.2, atom-stylelint 2.6.0 (I uninstalled it and re-instal

[2016-04-26 13:30] smlombardi commented on #166
This is a real pain.  Every time I type a new rule in a selector, every character after I type the colon triggers an error.

![screen shot 2016-04-26 at 9 29 31 am](https://cloud.githubusercontent.com/assets/835148/14819758/925f3ca2-0b91-11e6-96c7-7a87ff9569f9.jpg)

[2016-04-26 13:40] davidtheclark commented on #176
The most helpful thing is figuring out which specific rule is triggering it, if you can.

[2016-04-26 14:32] PhiLhoSoft commented on #176
OK, by progressively cutting down the rule list, starting by the less likely to be the culprit, I got a suspect:

    block-opening-brace-newline-before: "always-multi-line"

Also happens only in Scss mode, doesn't happen in .css files.

[2016-04-26 14:37] davidtheclark commented on #176
Awesome, thanks! It happens in SCSS files because of the way `//` comments are parsed. We caught a few of these but apparently there's at least one more. Can you please copy this info and paste it into an issue at stylelint?

[2016-04-26 14:54] PhiLhoSoft commented on #176
OK. I first thought it happened only with your plugin, but indeed now I can reproduce it with the command line. Well, more exactly, I get the spurious error:

    sample.scss
     2:14  ×  Expected newline before "{" of a multi-line block   block-opening-brace-newline-before

Not sure why it makes your plugin to crash instead of reporting this "error".

[2016-04-26 16:45] Arcanemagus commented on #166
@davidtheclark Is this a bug in `stylelint` that that message is being thrown back with no line? The only way that message should show is if the `stylelint` Promise throws an error, and that error has no line associated with it.

[2016-04-26 16:48] Arcanemagus commented on #176
The problem is that `stylelint` is feeding invalid data back to us, in this case it's claiming that there is an error on column _20_ on a line that only has 1 column (probably the wrong line is being reported back).

We have this check in there to catch when linters themselves have a bug and are feeding invalid data back to us, and it's resulted in _many_ bugs in lots of different linters being fo

[2016-04-26 18:11] davidtheclark commented on #166
It's worth raising in stylelint and seeing if we can reproduce it from the CLI. I think that what's happening is that postcss-selector-parser is throwing this error because it's running into some non-standard SCSS construct, that error is being thrown and Atom linter is just displaying it the way that it displays errors. I'd think that the error would be caught within the Promise, though, so I don

[2016-04-26 18:12] davidtheclark commented on #176
Yeah. @PhiLhoSoft put in a good issue at stylelint to address this.

[2016-04-26 18:18] Arcanemagus commented on #166
It's being displayed [here](https://github.com/AtomLinter/linter-stylelint/blob/v2.7.0/lib/index.js#L101), within the `error` function of the promise. I'll file something on `stylelint` in a tiny bit.

[2016-04-26 18:48] PhiLhoSoft commented on #176
Frankly, this kind of error has no interest for the end user...
I suggest to just log it on the console, and to avoid notifications. If possible.

[2016-04-26 21:56] Arcanemagus commented on #166
Narrowed it down to `selector-type-case`, the above issue has all the details :wink:.

[2016-04-27 02:18] luciy opened #178 "Failed to activate the linter-stylelint package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.7.2
**System**: Mac OS X 10.11.4
**Thrown From**: [linter-stylelint](https://github.com/AtomLinter/linter-stylelint) package, v2.7.0

### Stack Trace

Failed to activate the linter-stylelint package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-04-27 04:57] Arcanemagus commented on #178
Looks like you've hit the infamous bug with `apm` where it doesn't install all the dependencies. Can you try re-installing the package?

[2016-04-27 10:13] samuelvgm opened #179 "Add config.cson support"
Hi!

It would be awesome if I could configure Stylelint editing "~/.atom/config.cson"

[code]

![captura de pantalla 2016-04-27 a las 12 07 09](https://cloud.githubusercontent.com/assets/6131039/14848950/a5ec483e-0c70-11e6-8655-473b0570af72.png)

[2016-04-27 12:26] smlombardi opened #180 "BaseDir error?"
I was just editing a random file in a folder with no configs, settings, package.json etc.  Not a project, just a folder with css files.

I get this error:
![screen shot 2016-04-27 at 8 03 30 am](https://cloud.githubusercontent.com/assets/835148/14851976/9acbbfd0-0c51-11e6-9959-aa2c9d846fd2.jpg)

I have stylelint and stylelint-config-standard installed globally, though.  Shouldn't it fall back to g

[2016-04-27 12:28] smlombardi opened #181 "Strange LESS file message"
I was editing my theme and got this:

![screen shot 2016-04-27 at 8 08 09 am](https://cloud.githubusercontent.com/assets/835148/14852053/0217da20-0c52-11e6-8055-13b1fa826427.jpg)

[2016-04-27 16:59] Arcanemagus commented on #179
Definitely _won't_ be implementing this, you should have the configuration in your project.

(Plus there is no way I want to maintain a list of the over a hundred rules `stylelint` supports!)

[2016-04-27 16:59] #179 closed

[2016-04-27 17:36] Arcanemagus commented on #180
Are you sure you don't have a `.stylelintrc` file in any of the _parent_ folders? I believe it also checks your home directory.

If you don't, then it's possible that `apm` (Atom's package manager) failed to installed the `stylelint-config-standard` that is supposed to be bundled with this package, in which case a re-install of the package _should_ fix it for you.

[2016-04-27 17:37] Arcanemagus commented on #181
Can you upload the raw file? Does `stylelint` itself show that error if you run from the CLI?

[2016-04-27 17:54] samuelvgm commented on #179
Fair enough

Sadly, in some team projects, I don't be able to add a config file.

Anyway, thanks for your work in this project :)

[2016-04-27 17:57] Arcanemagus commented on #179
I believe it should search up in parent directories for a configuration, so you could try putting your "base" config in a parent directory.

If it's a team project that you can't add a config to the repo on, you could always just have one locally and simply not commit it to your VCS :wink:.

[2016-04-27 18:28] samuelvgm commented on #179
Yep, it's a good advice. Thanks again Arcanemagus   :)

[2016-04-27 19:18] smlombardi commented on #181
i can't get it to happen again.  I will keep an eye out.

[2016-04-27 19:29] Arcanemagus commented on #181
Okay, marking as Unable to reproduce and closing for now.

[2016-04-27 19:29] #181 closed

[2016-04-28 10:40] pawelphilipczyk opened #182 "Less support"
The main page for stylelint says it has an experimental support for Less. Could it be enabled in the Atom plugin?

[2016-04-28 17:22] Arcanemagus commented on #182
It's been enabled in `linter-stylelint` since v2.4.0, is it not working for you?

[2016-04-28 17:29] pawelphilipczyk commented on #182
No, but I guess this means I'm doing something wrong. How does it get activated?
I can't see a command to start linting. Or maybe I need to have .stylelintrc file first?

[2016-04-28 17:36] Arcanemagus commented on #182
Although a `.stylelintrc` file is useful for configuring the linter for your specific project, if you go into your package settings and enable the `Use standard` option, then `linter-stylelint` will use the `stylelint-config-standard` base ruleset to lint your files.

Without that option enabled and no configuration you will see no results as there are no base rules enabled in `stylelint`.

[2016-04-28 17:38] pawelphilipczyk commented on #182
OK, I've got it. The reason was "Disable linting when no config file found" in settings. Now I'm not sure if I activated it by accident or it is on by default?

[2016-04-28 17:39] Arcanemagus commented on #182
You must have enabled it by accident, the default value is disabled for both settings :wink:.

[2016-04-28 17:40] Arcanemagus commented on #182
Marking this as closed since you've got it figured out now, if you have any other questions feel free to keep commenting here or file a new issue.

[2016-04-28 17:40] #182 closed

[2016-04-28 17:40] pawelphilipczyk commented on #182
That's what you get when you start playing with the settings before you actually use the tool :)

[2016-04-29 15:31] smlombardi opened #183 "Shows error dialog while typing pseudo selector in scss"
While typing s selector like `&:first-child`, the "unable to run stylelint"  toastr appears with `Expected pseudo-class or pseudo-element` right after typing the ":".

Shouldn't it at least show a normal inline error, which should go away once I finish typing the pseudo-selector?
![screen shot 2016-04-29 at 11 25 23 am](https://cloud.githubusercontent.com/assets/835148/14920994/dc7a9764-0dfd-11e6-

[2016-04-29 16:21] Arcanemagus commented on #183
When an error like that pops up the underlying reason is that `stylelint` has `throw`n an error, and we are catching it.

_Sometimes_ the errors thrown like this have a line associated with them, in which case we just turn them into regular errors. Other times, like in this instance, there is no position associated with it so we assume it's an internal error in `stylelint` and show it to the user

[2016-04-29 16:21] #183 closed

[2016-05-02 21:33] Arcanemagus commented on #176
Just an FYI, this is fixed in https://github.com/stylelint/stylelint/pull/1168, just waiting on a release to include it here.

[2016-05-08 03:35] diagramatics commented on #176
Seems like Stylelint 6.3.1 has included the fix for this and you've just merged in #187. Any ETA for the next version release?

[2016-05-08 08:25] Arcanemagus commented on #176
@diagramatics Waiting on integration of the HTML CSS extraction before releasing, if #142 hasn't been fixed up by the time I wake up tomorrow that's the first thing I'll be doing.

[2016-05-08 17:43] simonkberg opened #190 "New release with updated stylelint"
Currently linting is broken when using stylelint-config-standard@7.0.0 since it depends on stylelint@^6.3.0 which introduced some new rules.

Example error in Atom:
[code]

I notices greenkeeper has already updated the dependency, but it's unreleased.

Related to this I think the package should handle unknown rules better, eg. give a warning but keep checking rules it known about. Currently it thr

[2016-05-08 19:06] Arcanemagus commented on #190
The release is waiting on #142 being merged which enables linting CSS extracted from HTML (added in `stylelint` v6.3.0).

[2016-05-08 22:03] #8 closed

[2016-05-08 23:21] Arcanemagus commented on #190
v2.8.0 is now published :tada:.

[2016-05-08 23:21] #190 closed

[2016-05-08 23:21] Arcanemagus commented on #176
v2.8.0 is now published :tada:.

[2016-05-08 23:21] #176 closed

[2016-05-08 23:22] Arcanemagus commented on #178
Closing due to a lack of response.

[2016-05-08 23:22] #178 closed

[2016-05-08 23:22] Arcanemagus commented on #180
Closing due to lack of response.

[2016-05-08 23:22] #180 closed

[2016-05-17 15:40] EvNaverniouk opened #195 "Add "Run stylelint only if config found" option"
Using this extension on projects which don't use stylelint causes a ton of `No rules found within configuration. Have you provided a "rules" property?` to popup in Atom.

It would be nice if linter-stylelint could be disabled if a configuration found is not found.

[2016-05-17 16:14] Arcanemagus commented on #195
Is the existing "Disable when no config" option not working...?

[2016-05-17 17:18] EvNaverniouk commented on #195
Grr. Looks like Atom is being a jerk again and not showing the "Settings" button until the app is restarted. Nevermind.

[2016-05-17 17:18] #195 closed

[2016-05-17 17:28] Arcanemagus commented on #195
Yea, that bug can be quite annoying at times :disappointed: :smile:.

[2016-05-20 08:45] ismay opened #200 "Latest version throws error on each edit"
![error](https://cloud.githubusercontent.com/assets/7355199/15422214/ab81ab72-1e77-11e6-99c7-2290ef46db99.png)

It throws this error on each edit of any css file.

I'm using linter-stylelint 2.9.0
linter 1.11.14
atom 1.6.2
on windows 10

Let me know if you need more information!

[2016-05-23 00:27] Arcanemagus commented on #200
Your Atom is out of date... although it should be new enough that that still works just fine. Can you update to the latest stable release and see if it works then?

[2016-05-23 09:16] ismay commented on #200
Ah I assumed it auto-updated. Updating to the latest release solved this. Thanks!

[2016-05-23 09:16] #200 closed

[2016-05-23 16:41] Arcanemagus commented on #200
That's good to know... I'll put a minimum version of Atom v1.7.0 on the next release. That's still quite bizarre that Atom v1.6.3 didn't have support for `.includes` :confused:.

Anyway, glad that did it for you!

[2016-06-01 18:26] lcandiago opened #203 "TypeError: embeddedScopes.includes is not a function"
Hi!
I've just installed the Stylelinter and when I open a .scss file, I get this error:
![atom](https://cloud.githubusercontent.com/assets/6941695/15720936/12043556-280d-11e6-8ff5-bc5611bd1c3a.png)
Anyone can help me?

[2016-06-01 19:50] lcandiago commented on #203
I updated Atom and it worked!! Sorry

[2016-06-01 19:50] #203 closed

[2016-06-10 15:29] morajabi opened #204 "Parsing .sss files for lint"
It seems it doesn't support SugarSS at all.
I moved from CSS Lint to this just because of that!

plz fix that ASAP.

[2016-06-10 17:07] Arcanemagus commented on #204
Wow, in the future you might want to change your tone. This is an open source project being maintained by volunteers, not some product you've paid money for and are guaranteed support.

SugarSS files should be being recognized as PostCSS files, at least according to the only language file for Atom for it that I see. What are you seeing when you run `Editor: Log Cursor Scope` from the command palet

[2016-06-13 19:31] jeddy3 commented on #204
I think that might be the cause. As `.sss` files (like `.less` and `.scss` ones) require the [syntax option to be set](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/node-api.md#syntax). For SugarSS syntax, the option is `"sugarss"`.

One caveat with SugarSS syntax is that it's not [entirely compatible](https://github.com/stylelint/stylelint-config-standard#using-the-config-wit

[2016-06-13 19:49] Arcanemagus commented on #204
Atom's package list can be searched [here](https://atom.io/packages), there is nothing specific for languages, other than searching for `language` 😛.

A package can define a language, which at it's simplest is just a list of file extensions, but can be _parts_ of a file embedded within another. It marks the file with a scope for the language, usually in the form of `source.languagename`, with embe

[2016-06-13 19:59] Arcanemagus commented on #204
Put a PR up on that language that should let us fix things here once it gets released.

[2016-06-13 20:52] jeddy3 commented on #204
Thanks kindly for the all the detailed information! Very informative.

I think I understand a little better the internal workings now.

Excellent. Fingers crossed.

Thanks again for your continued work on this plugin... I suspect it's one of the more popular ways that people use stylelint!

[2016-06-13 21:01] Arcanemagus commented on #204
@jeddy3 If you want more information on how that whole system works, it's _mostly_ the [TextMate grammar system](https://manual.macromates.com/en/language_grammars), unfortunately Atom hasn't really documented the details yet so some of how it works is just guesswork.

[2016-06-13 21:14] jeddy3 commented on #204
Very interesting.

[2016-06-15 04:47] eddiemoore opened #207 "length-zero-no-unit"
I am getting an error with the linter saying `Undefined rule "length-zero-no-unit"`
Using stylelint v6.6.0
Rule exists: http://stylelint.io/user-guide/rules/length-zero-no-unit/

~~Not sure if it's issue with the linter or an issue with stylelint itself~~
It's an issue with the linter. Tested the rule against stylelint and it works.

[2016-06-15 16:45] Arcanemagus commented on #207
Are you on version v2.11.0 of `linter-stylelint`? If so, can you provide a setup to test this with?

[2016-06-15 17:21] pascalduez opened #208 "Consider display rule ID and uri"
Hi,

similarly to how it's done in the `linter-eslint` add an option to display the rule ID and link to its doc in a badge.
http://stylelint.io/user-guide/rules/

[2016-06-15 18:33] Arcanemagus commented on #208
An excellent idea, looking into this now.

[2016-06-16 01:48] eddiemoore commented on #207
Ahhhh. Yeah Atom didn't pick up that there was an update. v2.11.0 works. Thanks

[2016-06-16 01:48] #207 closed

[2016-06-16 18:46] #208 closed

[2016-06-16 18:51] Arcanemagus commented on #208
Published in v2.12.0. 🎉

[2016-06-16 21:36] pascalduez commented on #208
Wonderful!

[2016-06-24 15:46] jescalan commented on #204
Hi there! So I'm trying to use this linter with a `.sss` file right now, but it's not activating. When I did the cursor source thing, it said `source.postcss`, which I assume means it should be working.

Is there any way I can do any further debugging here that might be helpful?

[2016-06-24 16:12] Arcanemagus commented on #204
Actually @jescalan `stylint` requires special configuration to work properly with SugarSS, and until @azat-io merges https://github.com/azat-io/atom-language-postcss/pull/15, or does a similar fix, that is impossible to do here.

[2016-06-25 02:08] azat-io commented on #204
@Arcanemagus Done!

[2016-06-27 17:04] Arcanemagus commented on #204
Cool, I'll get proper support added here then!

[2016-06-27 21:36] Arcanemagus commented on #204
Just a note for anyone following this, looks like there are still some rough edges around the SugarSS support, I found https://github.com/stylelint/stylelint/issues/1544 while writing up the support in here.

[2016-06-27 21:48] #204 closed

[2016-06-27 23:11] Arcanemagus commented on #204
Released in v2.15.0!  🎉

[2016-06-29 03:23] jescalan commented on #204
@Arcanemagus tested and working for me -- thanks!

[2016-06-29 17:30] smlombardi opened #217 "disable warning about deprecated stylelint rule?"
Every time I open a file supported by stylelint, I ger a status bar warning:

![screen shot 2016-06-29 at 1 28 46 pm](https://cloud.githubusercontent.com/assets/835148/16462031/71d8c8f6-3dfd-11e6-9738-a1b498d155bf.png)

While I appreciate heads-up, I am not even redefining that rule's default in my stylelintrc.  I hate showing a warning that isn't a warning, is there a way to disable this?  Or onl

[2016-06-29 17:39] Arcanemagus commented on #217
The warning isn't saying that the rule's default is being changed, but that the _entire rule_ is going away in v7.0. As the replacement ([length-zero-no-unit](http://stylelint.io/user-guide/rules/length-zero-no-unit/)) is also avaialble currently, why not just switch to that?

[2016-06-29 17:41] smlombardi commented on #217
How do I do that?

[2016-06-29 17:44] Arcanemagus commented on #217
Since it looks like the rule was simply a rename (the `(reference)` link in the message should give more information), you should just be able to replace `number-zero-length-no-unit` with `length-zero-no-unit` in your Stylelint configuration file.

[2016-06-29 17:46] smlombardi commented on #217
That's why I am confused, ad my config file is

[code]
No `number-zero-length-no-unit`

[2016-06-29 17:50] Arcanemagus commented on #217
`stylelint-config-standard` versions below v9.0.0 haven't been updated, perhaps that's where it is coming from?

[2016-06-29 18:17] smlombardi commented on #217
![screen shot 2016-06-29 at 2 17 48 pm](https://cloud.githubusercontent.com/assets/835148/16463552/468c6886-3e04-11e6-81d1-64bb0e4dc07a.png)

[2016-06-29 18:32] smlombardi commented on #217
it seems my GLOBAL npm stylelint was not updated, although the one in the project was.

[2016-06-30 17:06] Arcanemagus commented on #217
@smlombardi Marking this as closed, since it sounds like your issue is resolved. If this isn't the case please let me know 😉.

[2016-06-30 17:06] #217 closed

[2016-07-05 17:10] kevinSuttle opened #221 "Constant errors when no config is present"
Literally every keystroke triggers an error when no stylelint config is present.

<img width="468" alt="screen shot 2016-07-05 at 1 09 26 pm" src="https://cloud.githubusercontent.com/assets/95672/16593104/d0e3c18a-42b1-11e6-9ba3-ff95d1297c0d.png">

[2016-07-05 17:28] Arcanemagus commented on #221
Either provide a configuration of your own, enable the "Use Standard" option, or enable the "Disable When No Config" setting. Any one of those three options should solve that for you 😉.

[2016-07-05 17:28] #221 closed

[2016-07-05 19:01] kevinSuttle commented on #221
Right, but throwing an error on every keystroke still seems excessive.

[2016-07-07 15:25] tnbiscuits opened #224 "Unexpected empty source (no-empty-source) at line 1 col 1"
This CSS:
[code]
triggers the error:

The error location is always listed as line 1 col 1 regardless of where the style definition is actually located, and the only way to clear the error seems to be to remove the rule completely.

Is this an issue with the linter or is there something wrong with my CSS style?

[2016-07-07 16:14] Arcanemagus commented on #224
Interesting, looks to be a bug here (or in the Node API of `stylelint`) as I can't reproduce it on the CLI interface. Looking into it.

[2016-07-07 16:38] smlombardi opened #225 "Undefined rule "at-rule-no-unknown""
I just updated my project to stylelint 6.8.0 and config standard 10.0.0 an now I get this error:

<img width="463" alt="screen shot 2016-07-07 at 12 37 26 pm" src="https://cloud.githubusercontent.com/assets/835148/16661183/bcd92ce0-443f-11e6-9e21-bf353147d8e2.png">

[2016-07-07 18:51] Arcanemagus commented on #225
Is your `linter-stylelint` package up to date? Those versions are included in v2.16.0 of this package.

[2016-07-07 18:57] abaracedo opened #227 "Undefined rule: selector-attribute-quotes"
It seems this rule is not yet added in the linter and throws the error

[2016-07-07 18:58] Arcanemagus commented on #227
Duplicate of #226. `stylelint@6.9.0` is the first release to include that rule, and it's only 2 hours old 😛.

[2016-07-07 18:58] #227 closed

[2016-07-07 22:21] Arcanemagus commented on #224
Looks like this is a bug in `stylelint` exposed by enabling the "Extract HTML" option, I'll make it only specify that option if you are in an embedded block in the next release, and will file an issue over there referencing this about the root bug.

[2016-07-07 23:31] #224 closed

[2016-07-07 23:50] Arcanemagus commented on #227
v2.17.0 is published including this version, enjoy 😉.

[2016-07-08 00:58] smlombardi commented on #225
Just saw that. Package didn't show up when I ran amp update, only later in status bar.

[2016-07-08 00:58] #225 closed

[2016-07-08 09:37] kachkaev opened #229 "Add notes to 2.17.0"
The latest release does not look 'proper' yet:

![stylelint](https://cloud.githubusercontent.com/assets/608862/16683435/c04983c6-44f7-11e6-9ce0-bcb716a2338e.png)

The notes will help figuring out what's changed.

Thanks for upgrading stylelint to 3.9.0! Would be really cool if you could have a look at #51 :–)

[2016-07-08 16:07] Arcanemagus commented on #229
The [CHANGELOG](https://github.com/AtomLinter/linter-stylelint/blob/d8b5ff7adea2e249c4816021a5aa9416c00a9b1b/CHANGELOG.md) was actually updated, just the GitHub release didn't get it copied over, fixed now 😉.

#51 is a longstanding issue that is rather complex to get done right, as I'm still not happy with the most robust of the other implementations I haven't tried bringing it over here.

[2016-07-08 16:07] #229 closed

[2016-07-09 07:42] abaracedo commented on #227
Thanks! Good job :+1:

[2016-07-09 14:11] ChrizzDF opened #230 "Rule only working with deprecated value"
First - thanks for this awesome package! =)

I installed the latest linter-stylelint package v.2.17.0 and I defined the following rules:
[code]
as described in the 6.5.1 release [here](https://github.com/stylelint/stylelint/releases/tag/6.5.1).

Well... but using the deprecated value does work!
[code]

Maybe someone can confirm this behaviour or show me what I'm doing wrong.

[2016-07-09 14:28] ChrizzDF commented on #230
Ok, I'm getting the following Warning message in Atom when using the `"double-unlesskeyword"` rule:

_The 'double-unless-keyword' option for 'font-family-name-quotes' has been deprecated, and will be removed in '7.0.' Instead, use the 'always-where-required', 'always-where-recommended' or 'always-unless-keyword' options together with the 'string-quotes' rule._

So: the deprecated one works when li

[2016-07-10 23:02] ai opened #231 "Ability to run with non-stylelint project"
I have some projects without Stylelint. Some legacy or third-party project. But when I open them in Atom with latest `linter-stylelint` I see: “Unable to run stylelint”.

![gz3gmvz](https://cloud.githubusercontent.com/assets/19343/16716646/7f21db4e-470b-11e6-9065-3bebccd17ca2.png)

@Arcanemagus maybe we should disable linting, when project doesn’t have rules?

[2016-07-11 17:23] Arcanemagus commented on #230
So just to clarify, you are using a deprecated option, which is working, but giving you the above message. When you try to use one of the options it recommends as an alternative it doesn't work though?

Does `stylelint` on the CLI exhibit the same behavior?

[2016-07-11 17:24] Arcanemagus commented on #231
That's what the "Disable when no config file is found" option is for, is it not working for you?

[2016-07-11 17:27] ai commented on #231
We have this plugin? 😆 Awesome!

Maybe we should add info about this options to warning message.

Also I think that we should enable it by default, because linter-eslint work in this behavior. What do you think about it?

[2016-07-11 17:30] Arcanemagus commented on #231
Yea, I already planned on making that enabled by default with the upcoming major release when `stylelint@7` lands 😉.

[2016-07-13 17:01] ChrizzDF commented on #230
Yes, you understood everything totally correct.
Right now I'm only using stylelint in Atom, not in the CLI in my Ember App that I'm developing.

My goal is to have double quotes around each FontFamily name that is no keyword, described [here](http://stylelint.io/user-guide/rules/font-family-name-quotes/)

So my `stylelintrc` file looks like:
[code]
if I then write the following CSS rule: `font-fam

[2016-07-13 18:40] Arcanemagus commented on #230
Looks like this is a bug in `stylelint@6.9.0` _but_, it's already fixed in `stylelint@7.0.0` 😉:
![image](https://cloud.githubusercontent.com/assets/427137/16815362/642df4f0-48ee-11e6-9867-7679b21e32be.png)

The update to that version is being done in https://github.com/AtomLinter/linter-stylelint/pull/233, as soon as the CI builds all finish I'll be merging that and releasing it.

[2016-07-13 18:40] #230 closed

[2016-07-13 18:42] Arcanemagus commented on #231
Ha, glad I checked the issues, almost forgot to change the default with the new version.

[2016-07-13 18:42] ChrizzDF commented on #230
Yeah! Thumbs up! Glad you figured it out that quick!
Thank you and please keep going with our nice package! 😎

[2016-07-13 19:13] apexskier commented on #81
The duplicate ticket has been closed without any resolution. stylelint itself is intended for css, but this atom package runs on sass as well. Can this be reopened?

[2016-07-13 23:03] Arcanemagus commented on #81
@apexskier This package [sets the appropriate flag](https://github.com/AtomLinter/linter-stylelint/blob/v2.17.0/lib/index.js#L202-L209) to tell `stylelint` that a file is to be processed with the Sass preprocessor.

If you are having issues with that not being set properly, please file a new issue here. However if you are seeing issues with the results, and `stylelint ./foo.scss --syntax scss` sho

[2016-07-13 23:27] apexskier commented on #81
You're totally right. I think my problem was that I was forcing use of a different stylelint config and things were screwing up. It's behaving correctly now.

[2016-07-14 03:38] #231 closed

[2016-07-14 18:04] Arcanemagus opened #235 "Restore embedded linting when a Stylelint Processor exists for it"
Embedded scope linting was removed in https://github.com/AtomLinter/linter-stylelint/commit/c9da67a6fa19c9961ff8ee32feb7bc938342de27 as part of the update to Stylelint v7, since it no longer exists in the core. This issue is to track restoring this functionality when somebody has [written](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/processors.md) a Processor implementi

[2016-07-19 11:58] radum opened #244 "Undefined rule "media-query-parentheses-space-inside""
I'm getting this error now

[code]

The new rules is `media-feature-parentheses-space-inside` but this is not defined anywhere. And I'm not using a config of my own. Its just the standard one coming with this plugin.

And I'm not sure from where this legacy rule comes from, and not sure what am I missing. All was good up until the last update.

[2016-07-19 12:06] radum commented on #244
Found a upper folder stylelint config that was really old. Looks like stylelint goes up and up the tree and if it finds a config it will use that one. Updated that and all good now.

[2016-07-19 12:06] #244 closed

[2016-07-28 02:29] hhlsch commented on #244
Hi, radum,  I have the same issue. But I cant find the old file what you said. Can you help me?

[2016-07-28 07:32] radum commented on #244
@hhlsch You should search your entire tree not just the project folder for stylelint config files.

Also depending on how you run it, make sure you have the latest version / plugin for editor.

Not sure how else I could help, for me it was easy, I had 1 lvl up of my project folder a config file, once removed / updated all was good again.

[2016-08-02 12:21] jonrohan commented on #51
Bump on this 👍

[2016-08-04 04:42] ccbikai commented on #235
https://github.com/ccbikai/stylelint-processor-html

[2016-08-06 17:57] ai commented on #51
I need this feature too :)

[2016-08-24 13:03] jaydenseric opened #251 ".stylelintignore is not respected"
In a project with the following structure:

[code]

I have stylelint rules configured in `package.json` (which work) and `/bundle` set in `.stylelintignore`.

When I run `stylelint '**/*.css'` from the project root via CLI, errors in `bundle/bundle.css` are correctly ignored. If I open the file in Atom, linter-stylelint displays errors.

[2016-08-26 17:09] r3nya opened #252 "Doesn't work with some ignore options"
Hey!

I noticed some problem with `ignorePseudoElements` option for `selector-pseudo-element-no-unknown` rule.

My config:
[code]

My css file:
[code]
And I got error in Atom, but `stylelint` from console works ok.

PS:
* linter-stylelint v. 3.1.0
* Atom v. 1.9.9

Thanks a lot for your work!

[2016-08-27 16:54] 55Cancri opened #255 "How can I change the color and/or font-size of the stylelint popup box?"
The popup box displaying the errors is currently grey and a little large. I wish to:
1. make the box black
2. decrease the font size
3. decrease the line height

Is there a way I can do this? Some file I am not aware of? All of the current configuration options only seem to allow me to change the _rules_ of the linter, but not the style of the actual linter.

[2016-08-27 20:58] Arcanemagus commented on #255
That's because this package has nothing to do with that 😛.

You'll want to look at [linter](https://github.com/steelbrain/linter), and possibly check out [linter-ui-default](https://github.com/steelbrain/linter-ui-default) which will soon be replacing the current UI.

[2016-08-27 20:58] #255 closed

[2016-08-29 20:33] boxxxie commented on #51
i can't use stylelint in it's current form

i get the below error. i think it's related to this issue.
[code]

[2016-08-29 20:38] ai commented on #51
Me too have `Undefined rule "declaration-block-no-redundant-longhand-properties"` error right after update to Stylelint 7.2.

[2016-08-29 20:40] Arcanemagus commented on #51
That's because this package hasn't been updated to bundle `stylelint@7.2.0` yet, hence why this issue exists in the first place 😛.

I'll push out an update with that in a few.

[2016-08-30 16:24] octoxan opened #258 "Latest update lags really badly"
Seems to be checking rules way too often or something. Was working fine, now I can't write css with it enabled since it throws errors on every single keypress.

Nearly every key press throws an error for selector-descendant-combinator-no-non-space and no-eol-whitespace, even though they're fixed by the time the rule is finished being written.

Here's my stylelintrc:

[code]

[2016-08-30 16:25] octoxan commented on #258
Lag fixed by setting selector-descendant-combinator-no-non-space to null. Wouldn't necessarily call that a fix.

[2016-08-30 16:36] Arcanemagus commented on #258
This package just forwards on the results from running `stylelint`, sounds like there might be an issue with that rule that you should file [over there](https://github.com/stylelint/stylelint/issues).

When posting an issue over there remember to include some CSS that triggers the issue as I don't see any in this report 😉.

[2016-08-30 16:36] #258 closed

[2016-08-30 16:38] octoxan commented on #258
Ah.

.t
.th
.thi
.this
.this-
.this-a
.this-al
.this-all
...
.this-all-triggers-the-rule

would all trigger the rule, lol. I'll file it over there though!

[2016-09-06 06:21] ai opened #260 "Strang errors during writing SugarSS"
When I write selector, Atom show plugin error (not linter error)

![c3zr5wp](https://cloud.githubusercontent.com/assets/19343/18263520/ecea621c-744d-11e6-9b63-a342e8d797ad.png)

[2016-09-06 18:28] Arcanemagus commented on #260
Can you provide the relevant configuration file? This is most likely due to a mapping issue in the SCSS -> CSS -> SCSS translations that are performed internally while Stylelint is running.

Atom is just exposing the error since Stylelint is saying there is something at column 40 on a line with only 38 characters.

[2016-09-06 18:47] Arcanemagus commented on #260
In fact, as the error that _is_ showing is relating to white space at the end of a line, can you put that raw file up as well?

[2016-09-06 18:51] Arcanemagus commented on #260
Nevermind, looks like `stylelint-config-standard` is able to reproduce it with what is visually visible there. Next time uploading the raw files would save a lot of hand transcribing 😉.

[2016-09-06 19:02] Arcanemagus commented on #260
I'm able to reproduce this on the CLI:

![image](https://cloud.githubusercontent.com/assets/427137/18286909/b9313654-7429-11e6-8a28-ef17e5b37dcb.png)

Note the error being reported on column 41 (1-indexed) on a line with only 39 columns.

I used the following files: [linter-stylelint_GH260.zip](https://github.com/AtomLinter/linter-stylelint/files/457552/linter-stylelint_GH260.zip)

Do you want to

[2016-09-06 21:22] Arcanemagus commented on #252
I'm seeing the exact same thing in Atom and through the CLI:
![image](https://cloud.githubusercontent.com/assets/427137/18291529/0d6cd9ea-743d-11e6-80b5-ee62452bf656.png)
![image](https://cloud.githubusercontent.com/assets/427137/18291536/17dc3344-743d-11e6-9533-fdbd4733ca78.png)

I used the following files when trying to reproduce this: [linter-stylelint_GH252.zip](https://github.com/AtomLinter/l

[2016-09-06 21:24] r3nya commented on #252
Hey @Arcanemagus!

I will do it tomorrow … Thanks. :wink:

[2016-09-06 22:47] ai commented on #260
@Arcanemagus if it is Stylelint error, why it was shown in plugin error popup, not just in regular line highlight as any other linter errors?

[2016-09-06 23:14] Arcanemagus commented on #260
Because it's a bug in how Stylelint is working, not an error `throw`n from inside Stylelint. As far as Stylelint is concerned it is quite happy reporting an error at column 41 because that's what the rule told it to report. It makes no checks as to whether that line actually _has_ 41 columns, while the `rangeFromLineNumber` function in `atom-linter` that actually generates the range to use _does_

[2016-09-07 02:25] gucong3000 opened #263 "about configBasedir"
http://stylelint.io/user-guide/node-api/#configbasedir
`configBasedir` should be the dir of project

https://github.com/AtomLinter/linter-stylelint/blob/master/lib/index.js#L234
But in here, It is be `dirname(filePath)`

[2016-09-07 02:47] dbox opened #264 "Error: Line number (x) greater than maximum line (x)"
Hello!

Thanks for taking the time to make this great plugin! Appreciate all your hard work. I've searched through past issues here and in the stylelint thread as well. Seems I'm having similar problems as others, but haven't found any solutions that work yet.

I'm using SugarSS and standard:

![image](https://cloud.githubusercontent.com/assets/296130/18297887/e5c7d0ec-7479-11e6-8bb6-aadcdbfce79f.

[2016-09-07 03:20] ai commented on #260
So, how I could fix it? Right now I could not use `linter-stylelint` because this errors block code.

Should I open issue in `atom-linter` or `stylelint`? And what I should report there?

Sorry, I really still don’t understand what is this error about :D

[2016-09-07 17:35] Arcanemagus commented on #260
I'll file it over on `stylelint` 😉.

[2016-09-08 02:52] ai commented on #260
@Arcanemagus thanks :)

[2016-09-08 18:18] Arcanemagus commented on #263
Interesting, I wonder why this hasn't posed any problems yet. In any case it's relatively simple to set this to the root of the project (as Atom sees it), falling back to the current behavior if necessary.

[2016-09-08 18:21] Arcanemagus commented on #264
SugarSS (and other non-CSS syntaxes) can have issues since in reality what is going on is:

* Stylelint converts the SugarSS to CSS using the `sugarss` `postcss` plugin, creating a sourcemap back to the SugarSS
* Stylelint runs on this CSS
* Any errors are mapped back to the original SugarSS using the sourcemap

Can you run `stylelint` on the file on the CLI? (`stylelint global.sss --syntax sugars

[2016-09-08 18:31] dbox commented on #264
Thanks for the reply.

[code]

6:2 was on purpose to show an error
2:24 and 7:21 these aren't flagged in the editor (nor should they be since there are no semicolons in sugarss)

So, no, its not showing any of the weird "Line number" errors in the CLI.

[2016-09-08 18:43] dbox commented on #264
Maybe it thinks there are more lines because of the (lack of) closing brackets?

[2016-09-08 19:08] dbox commented on #264
Here it is in action:
![z6hhavmt4g](https://cloud.githubusercontent.com/assets/296130/18362947/980599de-75cd-11e6-99a7-4c66a6539b6d.gif)

[2016-09-08 21:13] Arcanemagus commented on #264
I wonder if you are hitting https://github.com/stylelint/stylelint/issues/1889? That was fixed for a while but seems to have cropped back up.

[2016-09-08 21:20] Arcanemagus commented on #264
Wow, all sorts of SugarSS mapping issues showing up in there. I'll file bugs on `stylelint` for each of them, linking back here.

[2016-09-08 21:21] dbox commented on #264
Ah. It *is* pretty new I guess... Thanks for all the help!

[2016-09-08 21:45] Arcanemagus commented on #264
Okay, so of the errors I caught in that GIF and were able to track down, they were all related to https://github.com/stylelint/stylelint/issues/1889 and https://github.com/stylelint/stylelint/issues/1892.

You can workaround most of them by simply enabling the "Ensure Single Trailing Newline" option in the core `whitespace` package. As most UNIX systems don't technically consider a file as having

[2016-09-09 01:37] dbox commented on #264
Yeah, I think there is still some bug with Stylelint/SugarSS not being able to calculate proper line lengths. I'm happy to move this conversation there if you think that's the proper route.

Even so, it would be nice if there was some way to just force-suppress the red box warnings.

"Ensure Single Trailing Newline" must default to true because that was already on.
I tried bumping up the "lint as

[2016-09-18 22:25] Pustur opened #269 "EvalError – 'unsafe-eval' again"
I've seen this error already mentioned a few times (#90 and #116) but it was apparently resolved.
Having said this, I still have this problem.

Even just starting to type anything in my `css` files will trigger these errors.

**Atom:** 1.10.2
**linter-stylelint:** 3.2.1
**Contents of `.stylelintrc` file:**
[code]
**Stack trace:**
[code]

Linting from the command line via `npm test` works fine.
Any

[2016-09-19 17:19] Arcanemagus commented on #269
Oh boy, looks like another dependency brought in by `stylelint` is attempting to `eval()` code 😞. Tracing it down now and we'll see if this is something that can be resolved there.

[2016-09-19 17:50] Arcanemagus commented on #269
So it looks like `table` (A dependency of `stylelint`) moved to using `ajv` to validate their configuration objects with version v3.8.0, unfortunately the Ajv library `eval`s code, meaning it can't be used in any sane environment like Atom where that is blocked. I've filed https://github.com/stylelint/stylelint/issues/1912 to figure out where the responsibility of fixing this permanently should la

[2016-09-19 19:22] epoberezkin commented on #269
I will replace with Function constructor

[2016-09-19 19:36] epoberezkin commented on #269
Eval is replaced in Ajv version 4.7.2 (that is within the range) - should be picked up next time you npm install. Please let me know if it's still an issue.

[2016-09-19 20:32] #269 closed

[2016-09-19 20:48] Arcanemagus commented on #269
v3.2.2 is released which works around this for now, as commented in the `stylelint` issue v4.7.2 of Ajv doesn't actually fix this as `Function()` is just another way of evaluating unsafe code, which is blocked.

[2016-09-20 08:22] adammockor commented on #269
Also this error is still thrown (without stack trace) if you have locally installed stylelint in your project. So you have to add `"table": "3.7.9"` to your local `package.json` to run lint inside atom.

[2016-09-20 16:23] Arcanemagus commented on #269
This package doesn't currently support using the project's `stylelint` (https://github.com/AtomLinter/linter-stylelint/issues/51), so I'm not entirely sure how you are hitting that... does `linter-stylelint` work for you if the project doesn't have it installed locally?

[2016-09-20 19:40] adammockor commented on #269
So on further investigation, error is still thrown when I you use `stylelint-scss` plugin. It's because plugin uses stylelint directly as it's dependency, so it brings `table@3.8.0` and runs it in context of atom.

If I remove this plugin from local dependencies, no error is shown and your atom plugin works as it should.

[2016-09-20 21:13] Arcanemagus commented on #269
Ah ha! Very interesting, you might want to comment that over on the `stylelint` issue as it's not something I can work around here. You can "fix" it using a similar tactic to what I did here: remove your current `node_modules`, `npm install table@3.7.9`, then `npm install`.

[2016-09-20 21:33] Arcanemagus commented on #264
I'm going to mark this as closed since there isn't anything that can be done further here.

[2016-09-20 21:33] #264 closed

[2016-09-20 21:34] dbox commented on #264
Okay. thanks. No way to suppress the warning boxes?

[2016-09-20 21:37] Arcanemagus commented on #264
You could disable those two rules until those issues are resolved, they aren't returning correct results anyway (although they are returning _results_, just wrongly positioned ones, so you are losing some information).

I've yet to come up with a good solution for not spamming error messages, although I'm open to ideas.

[2016-09-20 21:38] dbox commented on #264
its not those 2 rules. its basically everything, but thanks for help.

[2016-09-20 21:38] Arcanemagus commented on #260
Marking this as closed, anyone coming across this issue should follow https://github.com/stylelint/stylelint/issues/1889 for updates on when this will be fixed.

[2016-09-20 21:38] #260 closed

[2016-09-20 21:39] Arcanemagus commented on #252
Marking as closed due to a lack of response, if you are still seeing this feel free to reopen and comment further 😉.

[2016-09-20 21:39] #252 closed

[2016-09-20 21:42] Arcanemagus commented on #264
If you are seeing issues with those two rules disabled please report them! That means there are more rules out there misbehaving!

It looks like the race condition prevention put in place in a few other linters hasn't been done here, I'll push that out in a few minutes and if you see anything after updating to that upcoming version _please_ report it, as that means the rule itself is buggy.

[2016-09-20 23:56] #263 closed

[2016-09-21 00:00] Arcanemagus commented on #264
Okay, if you are still seeing things after updating to v3.3.1, and you have those two rules disabled, then it is almost certainly a bug in another rule and should be reported so it can be fixed for everyone.

[2016-09-21 16:54] bjankord commented on #269
Just noting I ran into this as well on a fresh install of atom (v1.10.2). I understand this issue is essential out of your control. Thanks for the ideas on the work around.

[2016-09-22 01:57] leepfrog opened #276 "Unable to use plugins"
Whenever I use a plugin on my .stylelintrc, atom throws the following error:

[code]

It doesn't seem to matter what the plugin is (I've tried https://github.com/timothyneiljohnson/stylelint-selector-no-mergeable and https://github.com/sh-waqar/stylelint-declaration-use-variable) plugins.

I'm using these plugins in my node project -- they exist in my package.json.  I've installed them, and they e

[2016-09-22 14:35] akrigline opened #277 "Plugin fails to run with cssnext's custom property sets in file."
I'm using stylelint in a project running cssnext via PostCSS. [Our stylelint configuration file is here](https://gist.github.com/akrigline/5de2c80f3e10ef3e3c1dfb16f3322112).

We use a lot of [cssnext's custom property sets](http://cssnext.io/features/#custom-properties-set-apply) and these seem to break the linter plugin, though they are perfectly fine during the actual build.

Whenever I open a f

[2016-09-22 18:06] Arcanemagus commented on #277
I'm seeing this on the command line, using the following files: [linter-stylelint_GH277.zip](https://github.com/AtomLinter/linter-stylelint/files/488069/linter-stylelint_GH277.zip)

I'm not entirely sure whether this would be a [stylelint](https://github.com/stylelint/stylelint) or [PostCSS](https://github.com/postcss/postcss), but I would recommend starting with `stylelint` and seeing if they thi

[2016-09-22 18:06] #277 closed

[2016-09-23 13:45] racse1 commented on #276
Hi all, I've got same issue when I was trying to set up my project using [stylelint-config-primer](https://github.com/primer/stylelint-config-primer).

Node.js: v6.2.0.
npm: v3.8.9.
Atom: v1.10.2.
linter: v1.11.16.
linter-stylelint: v3.3.1.

[2016-09-23 19:39] ErikFontanel commented on #276
Same here with the stylelint 3.3.1

[2016-09-26 15:51] ascariandrea commented on #276
Give a look at https://github.com/AtomLinter/linter-eslint/pull/179

[2016-09-26 19:50] Arcanemagus commented on #235
Might as well implement Markdown (and any other relevant ones) as well:
https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/processors.md

[2016-09-28 13:32] FrancescoCioria commented on #276
might be a duplicate of #269
The outcome of 269 was this issue on stylelint: https://github.com/stylelint/stylelint/issues/1912

[2016-09-28 13:42] FrancescoCioria commented on #276
possible workaround for now (as suggested at the end of #269):
1) add `table@3.7.8` to your devDependencies
2) fresh install of `node_modules`

[code]
[code]

[2016-10-02 17:45] Arcanemagus opened #280 "Test new stylelint API"
https://github.com/stylelint/stylelint/pull/1930

[2016-10-04 08:10] Bubbi opened #281 "Error in Atom: Unable to run stylelint"
Great plugin, i've been using it a lot!

I have previously used it on a Win7 machine, but I have just installed Atom on a new Ubuntu 16.04 and installed linter-stylelint and it reports the following error, in a red box in the upper right corner:

**Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive:

[2016-10-04 16:23] Arcanemagus commented on #281
It's quite likely this is a duplicate of #269, possibly being triggered through running a plugin (#276). It's a mess either way. The original issue on Ajv was closed, haven't had time to look into whether it actually fixes things though.

[2016-10-07 22:56] klebba commented on #235
+1

[2016-10-11 17:15] jrajav opened #288 ".stylelintrc.yaml format not supported"
The "Disable when no config file is found" option includes only .stylelintrc and stylelint.config.js

[2016-10-12 07:22] Arcanemagus commented on #288
That code was written before that was an option 😛, thanks for the report!

[2016-10-12 08:39] Arcanemagus commented on #288
Actually, `cosmiconfig` handles all of that for us, I'm not sure why it's not currently working but work being done on #285 will move entirely to letting `stylelint` handle the configuration for us.

[2016-10-12 19:08] Arcanemagus commented on #264
`block-no-empty` was fixed in https://github.com/stylelint/stylelint/pull/1978, and `no-missing-end-of-source-newline` was fixed by https://github.com/stylelint/stylelint/pull/1958, both of which should be in the next Stylelint release.

[2016-10-12 20:02] Arcanemagus commented on #281
Looked back over your dependency list, this is definitely a duplicate of #269 according to https://github.com/AtomLinter/linter-stylelint/issues/269#issuecomment-248410548.

[2016-10-12 20:02] #281 closed

[2016-10-12 20:36] Arcanemagus commented on #251
Confirming this as a bug, I've filed https://github.com/stylelint/stylelint/issues/1981 to find out whether I should be implementing this here or not though.

[2016-10-12 21:06] Arcanemagus commented on #276
Marking this as a duplicate of #269.

[2016-10-12 21:06] #276 closed

[2016-10-12 21:49] Arcanemagus commented on #251
Turns out I completely missed the other new function introduced in v7.4.0, this will be fixed in the next release!

[2016-10-13 03:43] #280 closed

[2016-10-13 03:43] #288 closed

[2016-10-13 03:43] #251 closed

[2016-10-13 14:48] ai opened #290 "TypeError: cosmiconfig(...)(...).then is not a function"
I got this error right after today update:

[code]

[2016-10-13 16:20] Arcanemagus commented on #290
Can you try re-installing the package? The current version doesn't reference `cosmiconfig`.

[2016-10-13 16:45] mdsither opened #291 "Unable to parse stylelint configuration"
I'm having an error every time I try to save a file to be parsed (.scss) in Atom that I've narrowed down to linter-stylelint.

<img width="489" alt="screen shot 2016-10-13 at 12 20 40 pm" src="https://cloud.githubusercontent.com/assets/6873719/19357791/20007ef6-9141-11e6-90e5-61b086aab672.png">

 I can run `stylelint` in the command line without issues.

<img width="558" alt="screen shot 2016-10-1

[2016-10-13 16:56] Arcanemagus commented on #291
Lovely, looks like #269 is showing in a different manner with the new configuration handling.

The issue is that `stylelint-scss` has `stylelint` as a dependency of its own for some reason, and it's loading a broken version of the `table` sub-dependency. You can attempt to work around this by following https://github.com/AtomLinter/linter-stylelint/issues/269#issuecomment-248436085.

[2016-10-13 16:56] #291 closed

[2016-10-13 17:46] mdsither commented on #291
Thank you @Arcanemagus

[2016-10-13 23:02] ai commented on #290
Seems like fixed

[2016-10-13 23:02] #290 closed

[2016-10-18 17:35] Arcanemagus commented on #269
`table@3.8.3` fixes this issue, I'll be pushing out a bugfix release that removes the attempt to force `table@3.7.9` later today 😉.

[2016-10-18 21:09] bjankord commented on #269
Excited to see this fix land!

[2016-10-19 01:59] jenbennings opened #296 "Unable to parse stylelint configuration"
Just upgraded to 3.4.1 hoping it would fix some of the table bugs people have been having, alas:

<img width="488" alt="screen shot 2016-10-19 at 12 51 15 pm" src="https://cloud.githubusercontent.com/assets/3468612/19502776/d5b52de2-95fa-11e6-898d-b94d92d642af.png">

[2016-10-19 02:01] diagramatics commented on #296
Might worth doing an `npm ls table` on the repository you're working on and see if it's updated. You'll need `table@3.8.3`. I'm assuming you can install `stylelint` again since the semver will pick that version up.

[2016-10-19 04:21] jenbennings commented on #296
Worked, thanks!

[2016-10-19 04:21] #296 closed

[2016-10-19 13:44] squidfunk opened #297 "linter-stylelint breaks when adding plugins to .stylelintrc"
The stylelint plugin works as expected, until one adds plugins to the `.stylelintrc`:

[code]

When saving a file (with "linting on save" activated), the following error message is shown and stylelint is not running:

![bildschirmfoto 2016-10-19 um 15 40 43](https://cloud.githubusercontent.com/assets/932156/19521054/a1737eea-9612-11e6-9fd1-8ec537057579.png)

It seems, that it does not matter which

[2016-10-19 16:18] Arcanemagus commented on #297
`stylelint-scss` is the culprit here, it brings in its own version of `stylelint`, which depends on `table`, which had some issues with using `eval`. If you re-install your plugins it should bring in the latest version of `table` as a sub-dependency, which is able to run within Atom.

Closing this as a duplicate of #269.

[2016-10-19 16:18] #297 closed

[2016-10-24 07:25] mxstbr commented on #235
We just released a processor to lint the CSS in styled components! 🎉

https://github.com/styled-components/stylelint-processor-styled-components

Is there a way we can add support for this in `linter-stylelint`? It's in my `.stylelintrc`, so I figured you'd pick it up automatically but of course you don't react to `.js` files. Can we maybe add a generic "Try linting files with these extensions" op

[2016-10-24 18:08] Arcanemagus commented on #235
@mxstbr Unfortunately it's not quite that simple, as we only want to attempt linting if there is a processor available for the type. Reverting the removals from the commit referenced above is the starting place, I just haven't had time to implement it yet.

[2016-10-28 14:18] rvetere commented on #269
yeah cool about table - but as it seems -> now it starts over with the issue by the package "ajv" in version 4.8.2 -.- i don't know yet where this problem started in their versioning

[2016-10-28 15:59] epoberezkin commented on #269
Sorry, I don't understand what is the problem. 4.8.2 is the latest ajv version, 3.8.3 is the latest table version

[2016-10-28 16:03] Arcanemagus commented on #269
@rvetere The current version of `table` should cause no issues, are you on the latest version of `linter-stylelint`?

[2016-10-28 19:49] rvetere commented on #269
@Arcanemagus @epoberezkin sry guys - false alarm. somehow my node_modules were messed up. after i deleted all again and updated to table 4.8.2 - everything starts to work again perfectly 👍

sorry for the report

[2016-10-29 09:16] jantimon opened #301 "Unable to run stylelint - Undefined rule "selector-no-empty""
I don't understand why I get the error - could you please add a message how such errors may be solved?

I also would like to have a "don't show the same error again" button.
Would that be possible?

<img width="465" alt="settings" src="https://cloud.githubusercontent.com/assets/4113649/19828552/0cdca7fc-9dc9-11e6-8774-ba8d72838164.png">

[2016-11-01 16:48] Arcanemagus commented on #301
If you update to v3.5.0 of this package you should no longer be seeing that error. The `selector-no-empty` rule was only added in v7.5.0 of Stylelint, which was first included in v3.5.0 of this package.

[2016-11-01 16:48] #301 closed

[2016-11-03 17:35] squidfunk commented on #297
Can you please elaborate what has to be done? I'm still experiencing the issue. It doesn't only happen with `stylelint-scss`, but also with any other plugin.

[2016-11-03 17:40] Arcanemagus commented on #297
@squidfunk The sub-sub-dependency that was breaking this has been fixed by now, you need to update to the current version of this package, **and** update the sub-dependencies in your project where the plugins are installed. The simplest way to do this is to just remove the `node_modules` folder and run `npm install` again.

[2016-11-03 17:41] squidfunk commented on #297
Thanks, will give it a try.

[2016-11-09 18:39] mattclough1 commented on #297
@squidfunk any luck with that?

[2016-11-10 08:59] squidfunk commented on #297
Unfortunately not. I upgaded `linter-stylelint` to the latest version, I killed the `node_modules` folder, did a clean install, but I keep getting the error message.

[2016-11-10 14:26] mattclough1 commented on #297
I finally did resolve this as prescribed. Turns out I just hadn't actually updated the `table` dependency. Updating to `table@^3.8.3` fixed it. Make sure you don't have a lockfile preventing `table` from updating.

[2016-11-10 14:28] squidfunk commented on #297
Maybe I just don't see it. Did you add table as a dependency manually?

[2016-11-10 14:44] mattclough1 commented on #297
I was trying to use a plugin that required `stylelint` which itself requires `table`. Check your `node_modules` and see if it's installed, even if it's not in your `package.json`

[2016-11-10 14:59] squidfunk commented on #297
Okay, seems to work now. I killed all stylelint packages, installed table manually, and then reinstalled stylelint.

[code]

Thanks!

[2016-11-16 01:46] ai opened #302 ".stylelintrc JSON highlight"
If this plugin will also enable JSON syntax highlight for `.stylelintrc`, it will so good

[2016-11-17 01:02] Arcanemagus commented on #302
Although you (and I) prefer to use JSON format in `.stylelintrc`, it [can also](http://stylelint.io/user-guide/configuration/#loading-the-configuration-object) be in YAML format, so even if this was possible, I wouldn't do it.

I would _highly_ recommend moving to one of the formats where the format is defined in the file name such as `.stylelintrc.js`. ESLint for example has deprecated a bare `.e

[2016-11-17 01:02] #302 closed

[2016-11-17 10:37] egeriis commented on #51
Is it correct, that this is still not supported? We're using stylelint v6, but see errors reported that we're using rules that've been removed in stylelint v7.

[2016-11-21 11:15] AntonNiklasson opened #303 "Bump `stylelint` to 7.6.0"

[2016-11-21 17:34] #303 closed

[2016-11-23 08:19] langpavel commented on #178
Reinstalling just works

[2016-12-27 16:26] cncolder commented on #235
@Arcanemagus `language-babel` support highlight `styled-components` by add a new scope named `source.css.styled`. To resolve @mxstbr question. Just add `source.css.styled` in `baseScopes` at [lib/index.js#L27](https://github.com/AtomLinter/linter-stylelint/blob/master/lib/index.js#L27). That's simple.

[2016-12-27 21:34] Arcanemagus commented on #235
@cncolder All that would do is start running this package on those sections of the code, the functionality to make `stylelint` actually _understand_ the file as a whole still needs to be restored.

[2017-01-03 18:54] gregorywyz commented on #181
This happens when I create a new less file and attempt to create a new classname. The error is triggered just before typing the opening bracket

[2017-01-09 08:09] jaydenseric opened #306 "Make file extensions to parse configurable"
It would be good to get linter-stylelint to work on .js files for [stylelint-processor-styled-components](https://github.com/styled-components/stylelint-processor-styled-components) users.

Can a simple comma separated list of additional file extensions to parse be added to the settings?

[2017-01-09 08:46] Arcanemagus commented on #306
Marking as a duplicate of #235, I might have time to re-implement that this coming week...

[2017-01-09 08:46] #306 closed

[2017-01-16 15:09] crudo opened #307 "Error: Column start (NUM) greater than line length (NUM-1)"
Steps to reproduce:

Open following scss file and trigger linter (save file etc.)

[code]

[code]

Versions:
[code]

Installed packages:
[code]

![linter-error](https://cloud.githubusercontent.com/assets/67999/21922115/091a6fca-d96d-11e6-8ba8-1915d06fb095.png)

[2017-01-17 22:29] Arcanemagus commented on #307
I'm able to reproduce this, however it looks like a bug in `stylelint` as I can see the same issue from the command line:
![image](https://cloud.githubusercontent.com/assets/427137/22042727/3e53dd8c-dcc1-11e6-867a-591f2ad8927b.png)

I'll file a bug over there and link back here so you can follow the progress on getting this fixed there.

[2017-01-17 22:29] #307 closed

[2017-01-20 11:09] FezVrasta opened #309 "Ignore errors please"
Stylelint throws errors randomly while I write, it works correctly but this plugin spawns hundred of popups with the errors. Can you just add an option to disable them all?

[2017-01-20 11:35] PatricSachse opened #310 "config file may not include comments"
hey guys,
I just tried your linter and it seems to be impossible to use a .stylelintrc-file including comments. Actually, the linter complains about "missing comma between flow collection entries" where no comma is missing (it is located in front of a comment):

        "at-rule-no-unknown": [ // disallow unknown at-rules

Just a snippet of my slylelintrc-file:
[code]

Am I doing sth wrong here or

[2017-01-20 17:08] Arcanemagus commented on #310
This is just a wrapper around `stylelint` and has nothing to do with how the configuration file works. You can find documentation on the configuration format [here](http://stylelint.io/user-guide/configuration/), it looks like you want to either move to YAML format in your `.stylelintrc` file so you can get comments, or more likely move to the JS format.

[2017-01-20 17:08] #310 closed

[2017-01-20 17:15] Arcanemagus commented on #309
Those errors are actual errors and should be fixed not just ignored, without knowing what they say I can't really proceed any further. Can you copy the text of one of them here?

[2017-01-20 17:26] FezVrasta commented on #309
At the moment I'm not able to reproduce them anymore, but they talked about a line number that exceeded the length of the file if I remember correctly 🤔

[2017-01-20 18:05] Arcanemagus commented on #309
Ah, that would be `stylelint` reporting an invalid point, looks like this project doesn't have the nice way of reporting that implemented yet.

[2017-01-20 18:07] Arcanemagus commented on #309
The next time you see that please save the file and put it in a new issue along with your stylelint configuration so we can track down what rule is buggy 😉.

[2017-01-20 18:15] FezVrasta commented on #309
[code]

[2017-01-26 01:02] Zudin-Evgen opened #311 "Linters doesn't work"
Is there a windows 10 support included in those packages?If not, give me alternative.

[2017-01-26 21:31] Arcanemagus commented on #311
@Zudin-Evgen `linter-csslint` is known to be broken (https://github.com/AtomLinter/linter-csslint/issues/156), fixing it requires a _lot_ of work though, and as `csslint` itself appears to be essentially dead and I don't personally use it, I haven't had much inclination to work on it 😛.

_This_ linter however should be working perfectly fine, on whatever OS you are on. Can you describe what you me

[2017-01-27 01:29] Zudin-Evgen commented on #311
It doesn't work when i do mistakes in code. Look screenshot:
https://gyazo.com/60360a5e2d500232f432984b80103d88
And i have installed it already:
https://gyazo.com/4c43665f1c4952c7fd010b8bed726b08

How can i solve this?

[2017-01-27 17:21] Arcanemagus commented on #311
Hmmm, it's definitely working for me:
![image](https://cloud.githubusercontent.com/assets/427137/22380332/f494b8ca-e471-11e6-8a93-2c060c3d40b3.png)

Do you have `*.css` in your Ignore list for Linter? Is this file ignored in whatever VCS you are using?

[2017-01-27 21:33] Zudin-Evgen commented on #311
Hah!! Sorry man, i forgot to turn off this option, that goes by default:
https://gyazo.com/6f6cbd69aff845237834c74cfd0deb38

Now it's working fine!->>
https://gyazo.com/d2cbb1d32d3b10d06b4d1ccabb10d0ea

You forced me to look my settings. Thanks!You are a true friend!)

[2017-01-27 22:32] Arcanemagus commented on #311
Your screenshot links are broken (you know you can paste images directly in comments here and they will be hosted by GitHub 😛), but I'm assuming you got it working. Glad to hear it 😉.

[2017-01-27 22:32] #311 closed

[2017-02-02 16:10] tonygentilcore opened #314 "Support stylelint 7.8.0"
Stylelint 7.8.0 was just released. This package reports:

[code]

<img width="475" alt="screen shot 2017-02-02 at 8 09 27 am" src="https://cloud.githubusercontent.com/assets/1731736/22557316/11bbd6e8-e91f-11e6-8620-92ae8b53be8f.png">

[2017-02-03 18:29] brookswift opened #315 "Configure location of .stylelintrc.json"
I'm working on projects that have multiple stylelintrc.json files for various sections of the codebase. I'd love to be able to point to a path for stylelintrc.json in the configs so that I can actually use this on my projects in atom instead of my current command line solution. The other linters for atom already do this, so it'd be great to follow that pattern.

[2017-02-03 19:01] Arcanemagus commented on #314
Closing as a duplicate of #312, Greenkeeper beat you to it by 3 hours, I just hadn't had time to look into it 😛.

[2017-02-03 19:01] #314 closed

[2017-02-04 18:17] zslabs opened #317 "Undefined rule rule-empty-line-before"
Upgraded to stylelint 7.8.0 and stylelint-config-standard 16.0.0 and am receiving the error mentioned in the title. I do not have any modifications to the default ruleset. Is there an inner-dependency for this package that needs to be updated? I am seeing that as a valid rule on the stylelint website.

<img width="430" alt="screen shot 2017-02-04 at 1 14 23 pm" src="https://cloud.githubusercontent

[2017-02-04 18:18] zslabs commented on #317
It looks like there's a number of PRs already open that should resolve this like https://github.com/AtomLinter/linter-stylelint/pull/316

Maybe we should leave this open and close when one of those PRs are merged-in.

[2017-02-06 12:37] sinedied commented on #217
Since `stylelint` latest 7.8 update, I have this warning:
[code]
I understand that this will be removed in next (major) update, but is there a way to disable the warning during the migration time? I need to find a proper replacement, and it seems it won't be immediate.

[2017-02-07 01:11] #317 closed

[2017-02-07 22:42] Arcanemagus commented on #217
@sinedied There isn't currently an enhancement request to add that functionality, can you file a new issue to track that?

[2017-02-07 23:01] Arcanemagus commented on #315
Can you provide an example of what structure you are talking about? We don't actually do anything with the configuration files here, we just ask `stylelint` what the configuration for a file should be, so if it isn't working as is then it wouldn't work with `stylelint` in the first place.

[2017-02-07 23:19] brookswift commented on #315
so, for example, I might have a project with a lib directory, and the path
to .stylelintrc.json is
`[root]/lib/[product]/.stylelintrc.json`
I'd like to either have everything in `[root]/lib/[product]/` be affected
by that .stylelintrc.json, or I'd like to be able to configure it's
location for the linter to use.

On Tue, Feb 7, 2017 at 3:01 PM, Landon Abney <notifications@github.com>
wrote:

[2017-02-10 17:21] Arcanemagus commented on #307
@crudo This is fixed in https://github.com/stylelint/stylelint/pull/2340, the next release of `stylelint` (and `linter-stylelint` should include this fix!

[2017-02-11 23:38] adnasa commented on #314
thanks for this @Arcanemagus !

[2017-02-14 10:01] gitanupam commented on #68
FYI: Alright, for those who end up Googling here with the same issue, here are the three ways to debug the error:"Could not find "stylelint-config-standard". Do you need a configBasedir?"

1) add the absolute path as in [this](https://github.com/AtomLinter/linter-stylelint/issues/68#issuecomment-177324259) comment by @paulrobertlloyd.
2) If you don't want to change/extend the standard rules, you c

[2017-02-14 10:07] gitanupam opened #320 "Use standard config as default?"
How about having the setting 'Use standard' checked by default and 'Disable when no config file is found' unchecked by default?

This is to ensure that it works 'out of the box' and the users can then apply their own config file if they feel the need for it.

[2017-02-14 14:46] jbreuer95 commented on #235
+1

[2017-02-14 18:10] Arcanemagus commented on #320
I'm pretty strongly against "global" configs like this. If a project is intended to follow a specific style, that style should be defined and enforced by configuration within the project, hence the default settings.

However, there are people that don't really care and just want it to "work", not caring about the fact that nobody else working on the project will get the same configuration, or even

[2017-02-14 18:10] #320 closed

[2017-02-15 22:11] Arcanemagus commented on #181
Managed to reproduce this _intermittently_ from your steps @gregorywyz. Got the following stack trace which tells us that this is a bug in `postcss-less`:

[code]

[2017-02-15 22:17] Arcanemagus commented on #181
Filed an issue there, hopefully it can be taken care of when somebody takes on that project again.

[2017-02-17 22:05] joeyred opened #321 ""Unable to run stylelint: this.spacesFromStart is not a function" when writing out a property."
# The Problem

This error keeps getting thrown, usually when I'm adding a property above a nested rule working in scss. The error ends up popping up with Atom's notification system for errors. While this doesn't crash anything, and the listing still operates, it gets annoying having the errors pile up until i can finally finish writing the rule, and then having to close out the notifications.

# E

[2017-02-20 17:11] Arcanemagus commented on #307
@crudo v3.9.0 of this package should include a fixed version.

[2017-02-20 19:13] crudo commented on #307
@Arcanemagus thanks!

[2017-02-22 00:56] Arcanemagus commented on #321
I'm trying to reproduce this with no luck so far, however I did discover and file https://github.com/stylelint/stylelint/issues/2374 while attempting to reproduce this.

[2017-02-22 01:04] Arcanemagus commented on #321
Okay, I've tried everything I can think of to reproduce with the code you have posted there, but I can't replicate the error. I notice that the files are in an unsaved state in your screenshot, are you able to get a file that shows that error every time you save it?

[2017-02-22 03:51] joeyred commented on #321
The error never happens on save. It happens as I am typing, and it is actively linting. This happens to me as I work. I write in a new property, type in the colon, and then every character after that, until I finally use a semi-colon, throws this error.

![stylelint-error-example](https://cloud.githubusercontent.com/assets/12838699/23196503/0b25f76e-f888-11e6-9d0d-ab4599029a3b.gif)

[2017-02-22 04:26] Arcanemagus commented on #321
Can you post your stylelint config? Obviously whatever is breaking isn't used in `stylelint-config-standard`.

[2017-02-23 13:17] uharbachou commented on #315
as i understand, will be useful to add option on stylelintrc.json which not included in project
[code]

[2017-02-23 14:39] evilebottnawi commented on #321
@Arcanemagus already fixed https://github.com/stylelint/stylelint/issues/2374#issuecomment-282003260

[2017-02-23 17:14] Arcanemagus commented on #321
@evilebottnawi It's not "already fixed" from the perspective of `stylelint` though 😛.

[2017-02-23 17:50] kellyrmilligan commented on #321
found this as well. v 3.8.1 on atom, when I type `$color-blue:` when I type the colon and hit space, it throws that error.

[2017-02-23 17:51] kellyrmilligan commented on #321
on an .scss file.

[2017-02-23 17:52] evilebottnawi commented on #321
@kellyrmilligan try to remove `node_modules` and install all again

[2017-02-23 17:53] kellyrmilligan commented on #321
from where? @evilebottnawi

[2017-02-23 17:55] evilebottnawi commented on #321
@kellyrmilligan from `linter-stylelint` package in atom, i think :smile:

[2017-02-23 17:55] Arcanemagus commented on #321
@kellyrmilligan You can accomplish that by uninstalling `linter-stylelint` and re-installing it.

[2017-02-23 17:55] kellyrmilligan commented on #321
will try right now

[2017-02-23 17:59] kellyrmilligan commented on #321
did that, same issue.

[2017-02-23 18:05] Arcanemagus commented on #321
If you have Node.js install can you run `npm list postcss-scss` and report the version?

[2017-02-23 18:07] kellyrmilligan commented on #321
└─┬ stylelint@7.8.0
  └── postcss-scss@0.4.0

[2017-02-23 18:09] Arcanemagus commented on #321
Can you update your `linter-stylelint` package? It looks like you are still on v3.8.0 or v3.8.1.

[2017-02-23 18:12] kellyrmilligan commented on #321
atom seems to think that's the latest?

[2017-02-23 18:15] kellyrmilligan commented on #321
confirmed it's fixed with 3.9.0

[2017-02-23 22:13] joeyred commented on #321
Since updating to 3.9.0 today, the issue seems to be solved now.

[2017-02-23 22:47] Arcanemagus commented on #321
I'm marking this as closed since it seems the fixed version of `postcss-scss` is allowed in the current version of `stylelint`. The issue I discovered related to an incorrect position being reported is a separate bug that has been reported to the proper place.

Thanks for taking the time to report this everyone!

[2017-02-23 22:47] #321 closed

[2017-02-24 10:17] OmgImAlexis opened #325 "Invalid value "block" for option "ignore" of rule "indentation""
When running stylelint via cli I don't get any issues yet with your plugin I get this error.

This code is from the [stylelint `README.md`](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#custom-messages) so it should be correct.

[code]

[2017-02-24 11:15] 1000ch commented on #325
Would you show me your all of stylelint config? or is this all?

[2017-02-24 14:12] OmgImAlexis commented on #325
Here's mine but it's still happening with just the above code. Both the top and bottom code snippets were tried in the package.json section.

[code]

[2017-02-24 17:46] Arcanemagus commented on #325
The [actual documentation](https://stylelint.io/user-guide/rules/indentation/#ignore-inside-parens-param-value) for that rule shows that `block` is not (no longer?) a valid option. Currently there are only `inside-parens`, `param`, and `value`.

I'll file an issue over on `stylelint` to get that fixed.

[2017-02-24 17:46] #325 closed

[2017-02-24 17:51] Arcanemagus commented on #325
Actually, looking at the other optional options, and the blame on that file I'm betting they simply meant to use `except` instead of `ignore` there.

[2017-02-24 23:33] Arcanemagus commented on #325
@OmgImAlexis It looks like the fact that it wasn't reporting anything in the CLI is a bug there: https://github.com/stylelint/stylelint/issues/2394

[2017-03-04 21:41] mcwebb commented on #217
@sinedied, a workaround is to define a formatter in your stylelint config that removes depreciation warnings e.g.

[code]

But obviously this is quite a hack and should be use with caution.

[2017-03-06 11:53] sinedied commented on #217
Thanks for the feedback, I think I'll post a feature request directly to the `stylelint` repo as they are the primary at fault.

[2017-03-06 17:28] Arcanemagus commented on #217
I'm curious as to why you aren't just fixing your configuration to no longer refer to the deprecated rules?

[2017-03-06 18:34] sinedied commented on #217
Because this rule is useful? :)

[2017-03-06 21:32] mcwebb commented on #217
@Arcanemagus My personal use case is that my stylelint config extends https://github.com/primer/stylelint-config-primer which is where the depreciation errors are coming from but I can't fix them locally.

[2017-03-08 09:27] shikelong commented on #244
+1.

[2017-03-08 17:16] Arcanemagus commented on #244
@shikelong "+1" gives very little information to go by on helping you out...

This issue would only be caused by having an outdated `.stylelintrc` somewhere in a parent folder of the file you were working on.

[2017-03-16 19:41] justinsthomas opened #326 "Support for CSS property order"
Not sure if this is on the roadmap, or if anyone else would find it useful, but is there any talk of supporting rules around CSS property ordering? I noticed this used to be supported in `stylelint` itself, but has been deprecated in favor of `stylelint-order`: https://github.com/hudochenkov/stylelint-order. To be honest, I haven't thoroughly digested the source of `linter-stylelint` yet, but is t

[2017-03-16 22:51] Arcanemagus commented on #326
I think with `stylelint` relying more and more on plugins for support of certain features, it will be better to focus efforts on properly fixing #51 so this package can simply use the version of `stylelint` in your project.

[2017-03-16 22:51] #326 closed

[2017-03-30 21:05] hamiltondanielb commented on #315
I think adding support for a JSON version of the configuration file (even just at the project root) would be helpful. Stylelint allows you to use a json file as the config
`"stylelint \"src/**/*.css\" --quiet --config ./.stylelint-config.json",`

This would be helpful to allow for the user of json files

[2017-04-05 13:37] mattixittam commented on #235
+1 for https://github.com/ccbikai/stylelint-processor-html

[2017-04-06 09:23] LouisaNikita opened #330 "this will be great if it support vue files"
i cant use stylelint in .vue files~its will be more mighty if support .vue

[2017-04-07 14:09] ben182 opened #331 "Use Stylelint Plugin"
Hey,

how can I use this Stylelint plugin: https://github.com/csstree/stylelint-validator?

I am using the _Use standard_ option in Atom and tried to import the plugin in the index.js in _.atom\packages\linter-stylelint\node_modules\stylelint-config-standard_
like so
`"plugins": [
    "stylelint-csstree-validator"
  ],`
but Atom just says
_Could not find "stylelint-csstree-validator". Do you need

[2017-04-19 01:53] pingshunhuangalex commented on #330
I'm been wanting this for so long... Just wonder if there is any update on this. If not, if there is any workaround I could use?

[2017-04-21 13:43] ninthart commented on #331
Have you tried running `npm i stylelint-validator` in your project's root directory? It's how I got stylelint-order working with linter-stylelint…

[2017-04-22 10:18] robjtede opened #333 "ability to silence specific rules while typing"
The `eslint` linter has this feature to stop distracting, red error lines appearing everywhere while typing out things which is especially useful when fix-on-save is enabled. These "silenced" errors then appear on save if not already auto fixed.

Since the linter and the autofixer are seperate atom packages, it would not have the same immediate benefit for all users but it would a good option to i

[2017-04-28 22:08] nottoseethesun commented on #68
@gitanupam  -  I tried #3 above and that did not work. However the similar solution of adding `stylelint-processor-styled-components` to my `package.json` (in `devDependencies`) did work.

[2017-05-05 01:56] shellscape commented on #181
@Arcanemagus @gregorywyz I've been given ownership of postcss-less and will be actively maintaining it for the foreseeable future. If you all can get me a file or line that produces an error consistently using the parsing methods [shown here](https://github.com/shellscape/postcss-less/#rulerulewithoutbody), I can probably debug it. Unfortunately I don't have a whole bunch of interest in debugging

[2017-05-05 16:56] Arcanemagus commented on #181
@shellscape I'll see what I can do, it's an intermittent issue though so reproducing it out of that environment will likely be difficult.

[2017-05-05 16:56] Arcanemagus commented on #181
Also, I would much rather keep discussion over in https://github.com/shellscape/postcss-less/issues/64 as the bug has nothing to do with this package's code.

[2017-05-09 20:30] benjino opened #334 "How does this work?"
disregard, I figured it out.

[2017-05-10 17:29] #334 closed

[2017-05-10 17:40] Arcanemagus commented on #315
@brookswift I'll look into this, although since we are using the Node API the behavior isn't the same as the `--config` argument to the CLI interface.

@uharbachou Your described scenario will already work, as `stylelint` searches all parent folders for a configuration. As a note though that is _not_ standard practice (and if it is, you should fix it!) since your setup will _only_ work for you. Li

[2017-05-10 17:44] Arcanemagus commented on #331
@ben182 You definitely shouldn't be messing with anything in this package's folder, as @ninthart stated you should be installing this in your project.

@smutnyleszek This package (and all other providers) is intended to be a way to get your existing linting setup working within Atom. It definitely _isn't_ the responsibility of this package to install things like that for you since you should alrea

[2017-05-11 12:26] smutnyleszek commented on #331
@Arcanemagus I expected this, because **linter-stylelint** works perfectly without https://www.npmjs.com/package/stylelint installed, so I assumed it installs it by itself

[2017-05-16 18:58] adamnel opened #338 "Un-ignore directories?"
In my Atom install, stylelint will ignore scss files contained in the node_modules directory. How do I disable this behavior?

[2017-05-18 18:51] Arcanemagus commented on #338
Atom itself by default ignores things that are ignored by your version control system, which usually `node_modules` is. This is controlled by the "Exclude VCS Ignored Paths" setting in Atom. Linter follows this setting, and as that is what runs `linter-stylelint` you would need to disable that setting before you could lint something in a `node_modules` folder.

[2017-05-18 18:51] #338 closed

[2017-05-27 23:25] funwithtriangles commented on #235
What's the status on this one? Is there any way to get linting to appear in Atom?

[2017-06-02 03:14] FengNianya opened #339 "Uncaught Error: Cannot find module 'atom-package-deps'"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.17.2 ia32
**Electron**: 1.3.15
**OS**: Unknown Windows version
**Thrown From**: [linter-stylelint](https://github.com/AtomLinter/linter-stylelint) package 3.10.0

### Stack Trace

Uncaught Error: Cannot find module 'atom-package-deps'

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-06-02 03:14] #339 closed

[2017-06-02 19:12] greenkeeper[bot] opened #340 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## Version **2.4.0** of [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/AtomLinter/linter-stylelint/compare/greenkeeper%2Feslint-plugin-import-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin

[2017-06-06 06:29] czonechan commented on #235
the stylelint-processor-html does not trigger in html or vue file, and style lint can not work in Atom.
can you make the file extensions to be configurable, just like https://github.com/AtomLinter/linter-stylelint/issues/306 said?

[2017-06-09 15:59] Arcanemagus commented on #340
`eslint-plugin-import@2.4.0` was pulled from NPM due to a regression, closing.

[2017-06-09 15:59] #340 closed

[2017-06-13 15:53] EvNaverniouk opened #342 "Add "Fix errors on save" option"
Similar to `eslint`, stylelint 7.11.0 now supports auto-fixing. It would be great if `linter-stylelint` could add a `Fix errors on save` option to the settings that would run the auto-fixer on file save.

[2017-06-15 05:20] MaxMilton commented on #330
I'd like to see a configurable list of scopes to run the linter on. *linter-eslint* is a good example of this done well.

[2017-06-19 15:13] benlane opened #344 "Can't get browserlist in package.json or browserlist file to be recognised when using stylelint-no-unsupported-browser-features"
The only way I seem to be able to get the browserlist to be recognised is by setting it in the configuration for the plugin directly using the browsers option rather than having it in the package.json or a browserlist file in the root of the project.

I am using atom and the plugin and stylelint versions should be the latest as I only installed them on the project today.

Is there an example of th

[2017-06-20 04:30] phyllisstein commented on #235
Since the user is responsible for configuring both the settings for `.stylelintrc` and the settings for `linter-stylelint`, isn't the onus on her to make sure that if she tells the linter to apply itself to a scope she also configures `stylelint` to understand it? It's possible that I'm misunderstanding something about the linter's inner workings, but from what I've read it doesn't look as though

[2017-06-22 19:03] pixelass commented on #344
I have the same issue.

[2017-06-28 16:20] EvNaverniouk commented on #51
@Arcanemagus I can look into working on this feature. Could you give me some direction in terms of the work that needs to be done? Is it simply a manner of copying over the same way that `linter-eslint` does it?

[2017-06-30 15:34] abea commented on #181
I see in https://github.com/shellscape/postcss-less/issues/64 that this should be resolved on that end as well as in this linter. My linter-stylelint package is up to date but I'm still getting this error when writing a new selector. Is there something I'm missing or that isn't yet updated?

[2017-06-30 16:17] shellscape commented on #181
@abea stylelint may not have updated to the version which has that fix, or the linter plugin may not be following the pattern of trapping that error as a user types. @Arcanemagus that's probably something this plugin will have to do, rather than the stylelint package - you may wish to reopen this one.

[2017-07-06 03:05] iwinux commented on #51
Temp fix:

[code]

[2017-07-06 08:41] MattDiMu commented on #51
@iwinux How is this a fix and how does this give you the possibility to use different stylelint-versions for different projects? (= not being forced to update older projects all the time)

[2017-07-08 10:04] ismay opened #349 "Incomplete stylelint config file names in settings"
The settings mention only a `.stylelintrc` and `stylelint.config.js` as valid config files under `Disable when no config file is found`, but there are a lot more options: https://stylelint.io/user-guide/configuration/#loading-the-configuration-object

Are these the only config formats that this linter looks for, or is this text outdated? If so, I'd be in favor of removing it as people can find val

[2017-07-08 10:08] ismay commented on #344
Same issue with atom on mac here as well. Exact same project works for me in neovim.

[2017-07-08 10:11] ismay commented on #330
Same goes for linting js and jsx with https://github.com/styled-components/stylelint-processor-styled-components. Seems to not be possible with linter-stylelint currently, but it works with stylelint's interface and ale on neovim.

Would be great to be able to do this with linter-stylelint.

[2017-07-10 17:39] Arcanemagus commented on #349
The text was only ever meant to be an example, when it was written all valid config options were searched for here, but currently we actually have `stylelint` itself determine the configuration for a file so we don't even know or care what the file is called as long as `stylelint` can handle it.

A PR updating that text to something better understandable by users would be great.

[2017-07-10 17:40] #331 closed

[2017-07-10 17:43] Arcanemagus commented on #344
How would this get reproduced? I'm guessing this is an issue with `stylelint` or `stylelint-no-unsupported-browser-features` improperly caching paths between lint runs as we only ever use one `stylelint` instance per Atom window which isn't a normal use case, but should still be supported.

(Most uses of `stylelint` load it up, run a lint job, and then close it again so the next run is a fresh sta

[2017-07-10 17:45] Arcanemagus commented on #51
@iwinux That has absolutely no relevance to this issue here. 😕

[2017-07-10 17:47] Arcanemagus commented on #51
@EvHaus This is a rather large undertaking, the best example of doing this correctly that we have currently is [this function](https://github.com/AtomLinter/linter-eslint/blob/v8.2.1/src/worker-helpers.js#L101) and the functions it calls / settings it uses over in `linter-eslint`.

[2017-07-10 17:50] Arcanemagus commented on #235
@phyllisstein Until https://github.com/AtomLinter/linter-stylelint/issues/51 is fixed, _every_ supported plugin will need to be installed here in this package as currently it only uses the embedded `stylelint` instance. It's not just a matter of configuring `stylelint` to work with it in the project right now.

[2017-07-10 17:51] Arcanemagus commented on #330
Closing as a duplicate of https://github.com/AtomLinter/linter-stylelint/issues/235 as that would need to be done before this could be implemented, and doing that properly would mean that you could set this up yourself.

[2017-07-10 17:51] #330 closed

[2017-07-13 04:11] Arcanemagus commented on #181
Looks like `stylelint` only updated `postcss-less` in https://github.com/stylelint/stylelint/pull/2702, which will be included in `stylelint@8`.

[2017-07-14 07:05] 5n00p4eg opened #351 "Add fix action"
Now stylelint has autofix feature.
https://stylelint.io/user-guide/cli/

It would be nice to have an action for doing this.

[2017-07-18 06:57] Eschon opened #357 "Could not find "stylelint-config-recommended". Do you need a `configBasedir`?"
I just now updated to `linter-styleint` version 4.0.0 and I have configured it to use the standard config. Now when I open a css file I get the following error:

Could not find "stylelint-config-recommended". Do you need a `configBasedir`?

With a bit of searching around I found that `stylelint-config-standard` was changed to extend `stylelint-config-recommended` (see https://github.com/stylelint/

[2017-07-18 09:09] carlkenne commented on #68
I got this issue probably because my package.json is not in my root folder. Simply adding the full path: "./web/node_modules/stylelint-config-..." fixed it for me

[2017-07-19 08:49] bbroens commented on #357
Same problem for me. Also, it does not seem to load my config files anymore. Probably due to missing standard config.

[2017-07-19 15:53] Arcanemagus commented on #357
@Eschon It's a [`dependency`](https://github.com/stylelint/stylelint-config-standard/blob/2951a657c892d1a00affefc76e169131ec45d2c3/package.json#L21) of `stylelint-config-standard`, as such it _shouldn't_ be a dependency here.

Occasionally Atom's APM fails to install some dependencies semi-rarely, you can try re-installing the package. Even better, you should install that as a `devDependency` in y

[2017-07-19 15:54] Arcanemagus commented on #351
Duplicate of #342.

[2017-07-19 15:54] #351 closed

[2017-07-19 17:08] Arcanemagus commented on #68
@carlkenne Please follow https://github.com/AtomLinter/linter-stylelint/issues/357, the bug this issue is about was fixed long ago.

[2017-07-20 06:59] Eschon commented on #357
@Arcanemagus I tried reinstalling the package but it still doesn't work.
Looking into the `node_modules` directory of the package I found that `stylelint-config-standard` is installed but somehow stylelint doesn't find it.

[2017-07-20 16:51] Arcanemagus commented on #357
Can you provide a zip of a project (or gist, or repo) that reproduces this so I can look into it?

[2017-07-21 07:01] Eschon commented on #357
This issue isn't linked to a specific project. It just happens everywhere where I don't have my own stylelint config like when I just open a random css file. So I have no idea what I could give you if you don't already have this issue.

[2017-07-21 15:58] Arcanemagus commented on #357
If you open [this file](https://github.com/AtomLinter/linter-stylelint/blob/f8b29886499c54e7e8192f3e8c3f7974c4621006/spec/fixtures/bad/stylelint-config-standard.css), which purposely has no config, do you see this? I can't reproduce it opening that file.

Settings tested:
![image](https://user-images.githubusercontent.com/427137/28471655-b34b0a08-6df2-11e7-9f5e-abb2d172766d.png)

[2017-07-22 09:19] bcbcarl opened #358 "Uncaught TypeError: Path must be a string. Received undefined"
Steps to reproduce:

1. Open Atom.
2. Throws a TypeError exception.

**Atom**: 1.18.0 x64
**Electron**: 1.3.15
**OS**: Mac OS X 10.12.4
**Thrown From**: [linter-stylelint](https://github.com/AtomLinter/linter-stylelint) package 4.0.0

### Stack Trace

Uncaught TypeError: Path must be a string. Received undefined

[code]

### Non-Core Packages

[code]

[2017-07-22 09:31] firefoxic commented on #358
The same error on:
**Atom**: 1.18.0 x64
**Electron**: 1.4.16
**OS**: ArchLinux (kernel 4.11.9)
**Thrown From**: linter-stylelint package 4.0.0

[2017-07-22 09:31] iwinux commented on #358
Same here. Atom 1.18.0 with linter-stylelint 4.0.0

[2017-07-22 10:03] retrixe commented on #358
Confirmed.

[2017-07-22 19:21] rvantonisse opened #359 "Unable to run stylelint - error"
message:
Could not find "stylelint-config-recommended". Do you need a `configBasedir`?

With basic stylelint fresh install on Atom

[2017-07-22 19:24] rvantonisse commented on #359
#357 is same as this issue sorry for duplicate

[2017-07-22 19:24] #359 closed

[2017-07-23 01:04] viviancpy commented on #358
Same here.
Atom 1.18.0 x64
linter-stylelint 4.0.0

[2017-07-23 01:35] ntwb commented on #358
I'm pretty sure this is due to https://github.com/ai/browserslist/pull/161

Can you update your dependencies so that browserlist gets updated to 2.2.2 and test?

[2017-07-23 02:48] firefoxic commented on #358
How can I do this without breaking anything?

[2017-07-24 02:11] iwinux commented on #358
[code]

Seems to fix it.

[2017-07-24 06:44] Eschon commented on #357
Yes it happens with the file. My settings for the package are the same as yours.

[2017-07-24 07:06] Eschon commented on #357
I just realised that I have stylelint installed globally. Could it be that the package uses the global installation which then can't find the config?

[2017-07-24 12:02] retrixe commented on #358
@iwinux yeah, I figured that out, just forked and will submit a PR :stuck_out_tongue_closed_eyes:

[2017-07-24 17:34] #358 closed

[2017-07-24 17:51] kmiyashiro opened #361 "Stylelint bin is dictated by the plugin and is not configurable"
An option to use the local `./node_modules/.bin/stylelint` would be super helpful. Currently, the plugin forces the user to use the same version of stylelint that the plugin uses. This is very problematic for many reasons:

* With the latest major upgrade to 8.0, many rules broke
* Different projects may not be on the same version of stylelint
* The version of your linter should not be determined

[2017-07-24 18:04] Arcanemagus commented on #361
Duplicate of #51.

[2017-07-24 18:04] #361 closed

[2017-07-24 18:09] Arcanemagus commented on #358
Fix published in v4.0.1, thanks again @retrixe!

If for some reason this doesn't work for you, try re-installing the package completely to ensure that Atom is re-installing the dependencies.

[2017-07-24 18:10] Arcanemagus commented on #357
Something is very different between our systems then, because that file works just fine for me...

Does version v3.12.0 of this package give you the same problems? You can test with `apm install linter-stylelint@3.12.0`.

----

This package _only_ uses the bundled version (see #51), but it _should_ load global plugins, I don't think I've manually tested that in a long time though.

[2017-07-25 07:04] Eschon commented on #357
In version 3.12.0 it works fine.

I'll try if it works if I remove my global version of stylelint but I have run into a bug with `npm uninstall -g` so I'll have to resolve that one first

[2017-07-25 07:26] Eschon commented on #357
Ok I just tested it without a global version of stylelint and I still get the same error.

Is there some more information I can provide to help finding the cause of this?

[2017-07-25 08:10] bbroens commented on #357
Still same problem here as well. I only use the Atom plugin. Have no other instance installed with npm

[2017-07-25 08:12] bbroens opened #362 "Cannot use config file: Unable to parse stylelint configuration Unexpected token :"
That is the error I get when I use any config file. This is the stylelint.config.js I am currently using:

[code]

[2017-07-25 16:24] Arcanemagus commented on #357
Can you open up Atom's Developer Tools (same keyboard shortcut as Chrome) and:

* Place a breakpoint [here](https://github.com/AtomLinter/linter-stylelint/blob/v4.0.1/lib/index.js#L150)
    * Check if it is finding a configuration, and if so, that it is the one you are expecting.
* Place a breakpoint [here](https://github.com/AtomLinter/linter-stylelint/blob/v4.0.1/lib/helpers.js#L138) and verify

[2017-07-25 16:26] Arcanemagus commented on #362
Using a JS file means you need to export the configuration object, the format you have up there is JSON, not JS.

See https://stylelint.io/user-guide/configuration/ for the documentation.

[2017-07-27 08:59] Sergiy-Volodumurovuch opened #363 "ould not find "stylelint-config-recommended". Do you need a `configBasedir`?"

[2017-07-27 14:42] Eschon commented on #357
For the first breakpoint it doesn't find a config as expected.

The error is not returned on the second breakpoint because `error.line` is undefined [here](https://github.com/AtomLinter/linter-stylelint/blob/v4.0.1/lib/helpers.js#L136)

OS: OS X 10.11.6
Atom: 1.18.0

[2017-07-27 17:47] Arcanemagus commented on #363
Duplicate of #357.

[2017-07-27 17:47] #363 closed

[2017-07-27 17:50] Arcanemagus commented on #357
How about if you place a breakpoint [here](https://github.com/AtomLinter/linter-stylelint/blob/v4.0.1/lib/index.js#L168), what does `options.configBaseDir` look like?

[2017-07-28 18:17] brianespinosa commented on #342
Yes, please.

[2017-08-02 05:48] steals commented on #357
I have the same issue. And options.configBaseDir shows the root folder where atom was opened.
I've also tried to uninstall / install package but it doesn't help.

[2017-08-04 08:29] samuells opened #364 "Unable to parse stylelint configuration: Undefined rule "selector-no-id""
After the update to the version 4.0.1, I am getting this bug - find no way around it. I am using json to extend standard configuration. I also did try to add "selector-no-id" into the my config file, but nothing changed. I become the same error for css or scss file.

config file: **.stylelintrc.json** is in root of the project

[code]
Settings of the plugin:
![screenshot 2017-08-04 10 27 31](https

[2017-08-04 16:08] Arcanemagus commented on #364
I'm guessing you were on a version below v4 before updating. `selector-no-id` was removed entirely in the [v8 release](https://github.com/stylelint/stylelint/releases/tag/8.0.0) of `stylelint`, which v4 updated to. It _should_ have been showing you deprecation warnings since v3.11.0 when this package was updated to `stylelint@7.12.0` when that rule was deprecated.

I would recommend updating your

[2017-08-04 16:08] #364 closed

[2017-08-04 16:11] Arcanemagus commented on #357
Could somebody that is affected by this contact me on [Atom's Slack](https://discuss.atom.io/t/join-us-on-slack/16638)? Everything _looks_ correct and I am unable to reproduce this...

[2017-08-04 16:15] Arcanemagus commented on #362
Marking as closed due to a lack of response.

[2017-08-04 16:15] #362 closed

[2017-08-04 16:54] Eschon commented on #357
Should be possible for me but I have the issue at work and I'm on vacation next week. So we'd have to do it the week after.

[2017-08-09 13:57] dutchauser commented on #357
I am also having the same problem. I have installed v3.12.0 as suggested and can confirm that the package works on that version.

[2017-08-10 08:04] jsejcksn opened #365 "Update readme with a bit more info"
The owner of the incredibly popular [linter-csslint](https://github.com/AtomLinter/linter-csslint/) is [encouraging the community to switch to this Atom package](https://github.com/AtomLinter/linter-csslint/issues/166#issuecomment-321411264) due to lack of maintenance.

Perhaps now is a good time to update the Readme with any information that might be helpful for potentially migrating/new users.

[2017-08-10 13:15] begin-again opened #366 "Linter fails to run on files that are ignored by git"
Stumbled on this by accident while testing some build scripts. I created a folder with some sample css files. I added this folder to my .gitignore. When I opened any css file from this folder in Atom, the linter would not process the file. If I moved a file into a non-ignored folder and re-opened in Atom, the linter processed the file and I see the report. Move the file back to the ignored folder

[2017-08-10 19:34] Arcanemagus commented on #365
If you want to get more information on the differences between the two an excellent resource would be https://github.com/CSSLint/csslint/issues/668, where the authors of stylelint proposed various paths forward for merging the teams together (Like JSCS merged into ESLint), and how to get users migrated over.

Unfortunately not much came from it so many people are still stuck on CSSLint.

The prima

[2017-08-10 20:20] Arcanemagus commented on #366
Linter follows the core Atom setting of "Exclude VCS Ignored files" that controls many aspects of Atom including `find-and-replace` as well as potentially the `tree-view` itself if you enable the secondary option in it's settings.

[2017-08-10 20:20] #366 closed

[2017-08-15 19:40] gbittmann commented on #357
I'm running on Windows and installed via the packages install interface. The version is 4.0.1 and I've checked the Use Standard box in settings.

I get the same error for all css files that I open.

[2017-08-15 23:03] bobbyquennell commented on #357
see issue. installed on Windows 10 and MacOS Sierra. encounter the same issue.
a quick workaround could be giving an absolute path  in the stylelint config file

[2017-08-15 23:34] Arcanemagus commented on #357
It doesn't look like OS is relevant to this as there are people with it both working and not working on both macOS and Windows, so it's something to do with the specific system configuration that just isn't replicated on my computer.

[2017-08-17 07:25] litar1 commented on #357
I just want to add that the same error appears in Ubuntu 16.04 :(

[2017-08-17 17:14] Arcanemagus commented on #357
Until somebody that can reproduce this traces down what is going wrong, or I can get access to a machine where it is happening this will remain unfixed.

[2017-08-18 10:25] bdsexton commented on #357
I encountered this error message with a first-time installation and since I am new to both linter-stylelint and stylelint in general I had no idea what was causing it or even why so many rules were being applied with or without my own config (https://stylelint.io/ says "Only enable the rules you want"). After discovering and disabling the "Use standard" setting, though, everything seems to work gr

[2017-08-18 14:39] etlund commented on #357
I've been struggling with this bug too.  This morning I installed stylelint by itself (`npm install stylelint`) and stylelint-config-recommended and it seems to be working for me.  I realize that's maybe not how it's supposed to work (i.e. the Atom package should be standalone), but at least I can get back to work!

[2017-08-18 15:45] Arcanemagus commented on #357
@bdsexton On of the breaking changes in the last major version pushed out here was to _stop_ merging the `stylelint-config-standard` with your project's configuration. It should use your project's configuration exclusively if it exists, otherwise it will use `stylelint-config-standard` (If you have that option disabled the "Disable when no config" option comes into play).

@etlund If you have a st

[2017-08-20 20:47] NQuackenboss commented on #357
I too am having this issue. This was my first time using this package. I turned on the "Use standard" and "Show message when a file is ignored" settings. Then, I attempted to lint a css file and I got this error. Stylelint-config-recommended and stylelint-config-standard are both in the packages folder. I also tried to install both stylelint-config-recommended and stylelint-config-standard (as wel

[2017-08-21 22:39] Arcanemagus opened #367 "Add support for reportNeedlessDisables"
Stylelint has the ability to report on inline stylelint disable comments that aren't actually doing anything. Add support for this functionality.

[2017-08-21 23:02] Arcanemagus commented on #357
Many thanks to @darrencoen who let me poke around on their system for a bit and got this bug diagnosed and figured out!

A fix is up in #368!

[2017-08-21 23:07] #357 closed

[2017-08-21 23:10] Arcanemagus commented on #357
Published in v4.0.2, please let me know if you are still having problems after updating to that version (or greater).

Thank you everyone for your patience while this got figured out!

[2017-08-21 23:22] Arcanemagus commented on #344
Still waiting on steps to reproduce this to try to diagnose where the issue is.

[2017-08-22 17:06] pixelass commented on #344
I don't use Atom. I experienced this when setting up a dev environment for a project at work. Sadly I can't help here.

[2017-08-23 10:56] MSBuV commented on #344
The new update fixed the issue for me on Windows 10. No more error-message and correct linter-hints on the setting "Use standard".
Not sure if it is related, but I had warning messages for no empty lines between selectors at first, one minute later they were gone. Other warning messages are working.
All with a standard css-file.
Also, https://stylelint.io/user-guide/rules/CssSyntaxError gives a 40

[2017-08-23 18:43] Arcanemagus commented on #344
Okay, after a ton of digging through the sources of all the related modules, it turns out this is a bug in `doiuse`. They forgot to handle a function parameter which defines the file being linted. In a lot of cases this wouldn't matter since the default value used where it is needed is the cwd... but the cwd when run through the Node API is slightly different than if used on the CLI, causing the p

[2017-08-24 16:02] Arcanemagus commented on #344
Fix merged in, the next release of `doiuse` should work for you guys.

[2017-08-24 16:02] #344 closed

[2017-08-25 07:57] shinnn commented on #251
![image](https://user-images.githubusercontent.com/1131567/29704662-b8b90146-89b5-11e7-9052-e36bbb2953f0.png)

@Arcanemagus I created a small project in which `fixture.css` should be ignored by stylelint, but linter-stylelint seems to unexpectedly lint `fixture.css`.

* Atom: v1.19.3
* linter-stylelint v4.0.2

[2017-08-25 15:46] Arcanemagus commented on #251
@shinnn I'm not sure why you commented here, this bug _was_ fixed by the referenced commit. Commenting further in https://github.com/stylelint/stylelint/issues/2833.

[2017-08-25 15:53] shinnn commented on #251
Simply, no.

[2017-08-25 15:57] Arcanemagus commented on #251
Simply, **yes**. It _was_ fixed, it's broken now though.

[2017-08-29 07:56] samuells commented on #364
Thx!

[2017-10-04 17:46] julzmon opened #371 "Uncaught Error: Cannot find module './utils/checkAgainstRule'"
[Enter steps to reproduce:]

1. Updated linter-stylelint package

**Atom**: 1.21.0 x64
**Electron**: 1.6.9
**OS**: Mac OS X 10.12.6
**Thrown From**: [linter-stylelint](https://github.com/AtomLinter/linter-stylelint) package 4.0.2

### Stack Trace

Uncaught Error: Cannot find module './utils/checkAgainstRule'

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-10-12 12:38] marcelmoreau opened #373 "html"

[2017-10-12 12:39] #373 closed

[2017-10-23 09:04] youngjuning opened #374 "When I fixed the error, The tips still show ."

[2017-10-29 11:47] pascalduez opened #375 "stylelintignore files"
Hi,

does `linter-stylelint` respect `.stylelintignore` files?
I can't seem to make it work.

Although it's working fine with `linter-eslint` for instance.

[2017-11-15 17:54] geminorum opened #376 "On multiple windows uses another project's .stylelintrc"
When I open multiple projects the linter-stylelint uses one of project's `.stylelintrc` for linting on all others; Although the others have no config files and the `Disable when no config file is found` is checked.

[2017-11-24 06:39] ezhlobo commented on #235
@Arcanemagus hey, are you planning to address this issue? Otherwise, could you describe what do want to be done here, so the community will be able to help?

[2017-11-27 21:39] rsolomon opened #378 "Does not work with stylelint 8.3.1 / config-standard 18.0.0"
[code]

I'm unclear why this plugin is pegged to such a specific version. Should it not just use the version that's installed in the current directory first?

[2017-12-03 11:28] nextgenthemes opened #379 "Undefined rule font-family-no-missing-generic-family-keyword"
`Undefined rule font-family-no-missing-generic-family-keyword`

I use the same config as bootstrap uses. https://github.com/twbs/bootstrap/blob/v4-dev/build/.stylelintrc I copied the file to the project root for this package to pick it up. I constantly have annoying popups with this error on every file save. I setup it this way that it will not lint when no config is found so it must be running wi

[2017-12-03 11:42] nextgenthemes commented on #379
Just updated
[code]

[code]

[2017-12-04 17:35] Arcanemagus commented on #379
Fixed in #372.

[2017-12-04 17:35] #379 closed

[2017-12-04 17:37] Arcanemagus commented on #378
Nobody has taken the time to implement that properly (see #51) 😉.

Anyway, the missing rule is fixed in #372.

[2017-12-04 17:37] #378 closed

[2017-12-04 17:38] Arcanemagus commented on #375
This used to work, but `stylelint` broke it somewhat recently, see https://github.com/stylelint/stylelint/issues/2950 for details and when this will be fixed.

[2017-12-04 17:38] #375 closed

[2017-12-06 14:44] dkniffin commented on #51
Has any progress been made on this? It's been almost two years since it was suggested, and it's such an important feature for anyone who works on projects that aren't using the latest version of stylelint. Without it, this plugin is essentially useless for those projects.

[2017-12-15 19:15] yenly commented on #357
Everything was working fine and then I started to see these errors. I updated to 4.2.0 and am still seeing the issues. How can I fix this?